@Html.Partial("_RegisterLastVersionOfKendo")
@using Kendo.Mvc.UI
@using IranMarketer.App.Component.Model
@using IranMarketer.Domain.DTO
@using IranMarketer.Domain.DTO.Setting
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "تنظیمات پایه";
}


<div class="k-rtl">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">تنظیمات پایه</h5>
                </div>
                <div class="panel-body">
                    <form role="form" id="form" novalidate class="form-horizontal form-validate-jquery" action="#" method="POST">
                        <div class="panel panel-flat  " id="filterPanel">
                            <div class="panel-heading">
                                <h5 class="panel-title">افزودن تنظیمات<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
                                <div class="heading-elements">
                                    <ul class="icons-list">
                                        <li><a data-action="collapse"></a></li>
                                        <li><a data-action="reload"></a></li>
                                        <li><a data-action="close"></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <fieldset>
                                            <legend class="text-semibold"><i class="icon-reading position-left"></i> اطلاعات پایه</legend>

                                            <div class="form-group">
                                                <label>نام صندوق</label>
                                                <input type="text" class="form-control" placeholder="نام صندوق" name="FundTitle" data-bind="value: FundTitle" value="@Model.FundTitle">
                                                <span class="text-danger">*</span>

                                            </div>

                                            <div class="form-group">
                                                <label>نام اختصاصی صندوق</label>
                                                <input type="text" class="form-control" placeholder="نام اختصاصی صندوق" name="ProprietaryFundName" data-bind="value: ProprietaryFundName" value="@Model.ProprietaryFundName">
                                                <span class="text-danger">*</span>

                                            </div>
                                            <div class="form-group">
                                                <label class="col-xs-12">اندازه صندوق</label>
                                                @(Html.Kendo().DropDownList().Name("FundSize").HtmlAttributes(new { @class = "k-rtl", })
                          .DataTextField("FundSizeTitle")
                          .DataValueField("FundSizeValue").Filter(FilterType.Contains)
                          .AutoBind(true)


                          .DataSource(source => source.Read(read => read.Action("GetFundSizeType", "UIComponent")).ServerFiltering(true)))
                                                <span class="text-danger">*</span>

                                            </div>
                                            <div class="form-group">
                                                <label class="col-xs-12">تضمین سودآوری</label>
                                                @(Html.Kendo().DropDownList().Name("DividendGuarantee").HtmlAttributes(new { @class = "k-rtl", })
                          .DataTextField("DividendsGuaranteeTypeTitle")
                          .DataValueField("DividendsGuaranteeTypeValue").Filter(FilterType.Contains)
                          .AutoBind(true)

                          .DataSource(source => source.Read(read => read.Action("GetDividendsGuaranteeType", "UIComponent")).ServerFiltering(true)))
                                                <span class="text-danger">*</span>

                                            </div>
                                            <div class="form-group">
                                                <label class="col-xs-12">مقاطع تقسیم سود</label>
                                                @(Html.Kendo().DropDownList().Name("DividendPeriod").HtmlAttributes(new { @class = "k-rtl", })
                          .DataTextField("FundDividendsPeriodTitle")
                          .DataValueField("FundDividendsPeriodValue").Filter(FilterType.Contains)
                          .AutoBind(true)

                          .DataSource(source => source.Read(read => read.Action("GetFundDividendsPeriodType", "UIComponent")).ServerFiltering(true)))
                                                <span class="text-danger">*</span>

                                            </div>
                                            <div class="form-group">
                                                <label class="col-xs-12">تاریخ مجوز تاسیس</label>
                                                @Html.Kendo().DatePicker().Name("EstablishmentLicenseDate").HtmlAttributes(new { style = "width:250px", type = "text" }).Format("yyyy/MM/dd")
                                                <span class="text-danger">*</span>

                                            </div>
                                            <div class="form-group">
                                                <label>شماره ثبت نزد شرکت ها</label>
                                                <input type="text" class="form-control" placeholder="شماره ثبت نزد شرکت ها" name="CompanyRegisterNumber" data-bind="value: EstablishmentLicenseDate" value="@Model.CompanyRegisterNumber">
                                                <span class="text-danger">*</span>

                                            </div>
                                            <div class="form-group">
                                                <label>شماره ثبت نزد سازمان</label>
                                                <input type="text" class="form-control" placeholder="شماره ثبت نزد سازمان" name="SeoRegisterNumber" data-bind="value: SeoRegisterNumber" value="@Model.SeoRegisterNumber">
                                                <span class="text-danger">*</span>

                                            </div>
                                            <div class="form-group">
                                                <label>شماره ملی</label>
                                                <input type="text" class="form-control" placeholder="شناسه ملی" name="NationalIdentification" data-bind="value: NationalIdentification" value="@Model.NationalIdentification">
                                                <span class="text-danger">*</span>

                                            </div>
                                            
                                        </fieldset>
                                    </div>

                                    <div class="col-md-6">
                                        <fieldset>


                                            <div class="form-group">
                                                <label>نام لاتین</label>
                                                <input type="text" class="form-control" placeholder="نام لاتین" name="FundEnglishName" data-bind="value: FundEnglishName" value="@Model.FundEnglishName">
                                                <span class="text-danger">*</span>

                                            </div>
                                            <div class="form-group">
                                                <label class="col-xs-12">نوع صندوق</label>
                                                @(Html.Kendo().DropDownList().Name("FundType").HtmlAttributes(new { @class = "k-rtl" })
                          .DataTextField("FundTypeTitle")
                          .DataValueField("FundTypeValue").Filter(FilterType.Contains)
                          .AutoBind(true)


                          .DataSource(source => source.Read(read => read.Action("GetFundType", "UIComponent")).ServerFiltering(true)))
                                                <span class="text-danger">*</span>

                                            </div>
                                            <div class="form-group">
                                                <label>ارزش مبنا</label>
                                                <input type="number" min="0" class="form-control" placeholder="ارزش مبنا" name="FundNav" data-bind="value: FundNav" value="@Model.FundNav">
                                                <span class="text-danger">*</span>

                                            </div>

                                            <div class="form-group">
                                                <label>کد بورسی</label>
                                                <input type="text" class="form-control" placeholder="کد بورسی" name="BourseCode" data-bind="value: BourseCode" value="@Model.BourseCode">
                                                <span class="text-danger">*</span>

                                            </div>
                                            <div class="form-group">
                                                <label>کد معاملاتی</label>
                                                <input type="text" class="form-control" placeholder="کد معاملاتی" name="PamCode" data-bind="value: PamCode" value="@Model.PamCode">
                                                <span class="text-danger">*</span>

                                            </div>
                                            <div class="form-group">
                                                <label>روز تقسیم سود هر دوره</label>
                                                <input type="number" min="0" max="31" class="form-control" placeholder="روز تقسیم سود هر دوره" name="DayOfProfitSharing" data-bind="value: DayOfProfitSharing" value="@Model.DayOfProfitSharing">
                                                <span class="text-danger">*</span>

                                            </div>
                                            <div class="form-group">
                                                <label class="col-xs-12">تاریخ دریافت مجوز سبدگردانی</label>
                                                @Html.Kendo().DatePicker().Name("DateOfPortfolioManagementLicense").HtmlAttributes(new { style = "width:250px", type = "text" }).Format("yyyy/MM/dd")
                                                <span class="text-danger">*</span>

                                            </div>
                                            <div class="form-group">
                                                <label class="col-xs-12">دوره فعالیت از تاریخ</label>
                                                @Html.Kendo().DatePicker().Name("ActivityFromDate").HtmlAttributes(new { style = "width:250px", type = "text" }).Format("yyyy/MM/dd")
                                                <span class="text-danger">*</span>

                                            </div>
                                            <div class="form-group">
                                                <label class="col-xs-12">دوره فعالیت تا تاریخ</label>
                                                @Html.Kendo().DatePicker().Name("ActivitytoDate").HtmlAttributes(new { style = "width:250px", type = "text" }).Format("yyyy/MM/dd")
                                                <span class="text-danger">*</span>

                                            </div>
                                            <div class="form-group">
                                                <label>حداکثر تعداد واحد صندوق</label>
                                                <input type="number" min="0" class="form-control" placeholder="حداکثر تعداد واحد صندوق" name="FundMaxUints" data-bind="value: FundMaxUints" value="@Model.FundMaxUints">
                                                <span class="text-danger">*</span>

                                            </div>
                                            <div class="form-group">
                                                <label>حداکثر تعداد واحد موسسان</label>
                                                <input type="number" min="0" class="form-control  onOfThem1" placeholder="حداکثر تعداد واحد موسسان" name="BoardMembersMaxUnits">
                                                <label>درصد حداکثر تعداد واحد موسسان از واحد های سرمایه گذاری</label>
                                                <input type="number" min="0" step="any" class="form-control  onOfThem1" placeholder=" درصد حداکثر تعداد واحد موسسان از واحد های سرمایه گذاری" name="BoardMembersMaxUnitsPercent">
                                            </div>

                                            <div class="form-group">
                                                <label>حداکثر تعداد واحد غیر موسسان و ارکان</label>
                                                <input type="number" min="0" class="form-control onOfThem2" placeholder="حداکثر تعداد واحد غیر موسسان و ارکان" name="NoneFundBoardMembersMaxUnitsType">
                                                <label>درصد حداکثر تعداد واحد غیر موسسان  و ارکان از کل واحدهای سرمایه گذاری</label>
                                                <input type="number" min="0" step="any" class="form-control onOfThem2" placeholder="درصد حداکثر تعداد واحد غیر موسسان  و ارکان از کل واحدهای سرمایه گذاری" name="NoneFundBoardMembersMaxUnitsTypePercent">
                                            </div>
                                            <div class="form-group">
                                                <label>حداقل تعداد درخواست</label>
                                                <input type="number" min="0" class="form-control" placeholder="حداقل تعداد درخواست" name="FundMinRequest" data-bind="value: FundMinRequest" value="@Model.FundMinRequest">
                                                <span class="text-danger">*</span>

                                            </div>
                                            <div class="form-group">
                                                <label>تعداد واحد ممتاز</label>
                                                <input type="number" min="0" class="form-control" placeholder="تعداد واحد ممتاز" name="PrefferedUnitCount" data-bind="value: PrefferedUnitCount" value="@Model.PrefferedUnitCount">
                                                <span class="text-danger">*</span>

                                            </div>
                                            <div class="form-group">
                                                <label>حداقل واحد مجاز</label>
                                                <input type="number" min="0" class="form-control" placeholder="حداقل واحد مجاز" name="MinUnit" data-bind="value: MinUnit" value="@Model.MinUnit">
                                                <span class="text-danger">*</span>

                                            </div>
                                            <div class="form-group">
                                                <label>تعداد واحد های عادی</label>
                                                <input type="number" min="0" class="form-control" placeholder="تعداد واحدهای عادی" name="RegularUnitCount" data-bind="value: RegularUnitCount" value="@Model.RegularUnitCount">
                                                <span class="text-danger">*</span>

                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                                <div class="text-right">
                                    <button type="button" id="saveSettingBtn" class="btn btn-primary legitRipple">ذخیره <i class="icon-arrow-left13 position-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="panel panel-flat">
                        <div class="panel-heading">
                            <h5 class="panel-title">تاریخچه تنظیمات<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
                            <div class="heading-elements">
                                <ul class="icons-list">
                                    <li><a data-action="collapse"></a></li>
                                    <li><a data-action="reload"></a></li>
                                    <li><a data-action="close"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="k-rtl">
                                @(Html.Kendo().Grid<GeneralFundSetting>()
                  .Name("grid")
                  .Columns(column =>
                  {

                      column.Bound(x => x.FundTitle).Title("نام صندوق");
                      //.ClientTemplate("<a href='" + Url.Action("UpdateUser", "UserManagement", new { UserName = "#=UserName#" }) + "'>#=UserName#</a>").HtmlAttributes("id=RowClick");
                      //.ClientTemplate("<a href='" + Url.Action("GetLogDetails", "Monitoring", new { Id = "#=Id#"}) + "'>#=EventDateTime#</a>").HtmlAttributes("id=RowClick");
                      column.Bound(x => x.ProprietaryFundName).Title("نام اختصاصی صندوق ");
                      column.Bound(x => x.FundSizeTitle).Title("اندازه صندوق");
                      column.Bound(x => x.DividendGuaranteeTitle).Title("تضمین سود آوری");
                      column.Bound(x => x.DividendPeriodTitle).Title("مقاطع تقسیم سود");
                      column.Bound(x => x.CompanyRegisterNumber).Title("شماره ثبت نزد شرکت ها");
                      column.Bound(x => x.SeoRegisterNumber).Title("شماره ثبت نزد سازمان");
                      column.Bound(x => x.DividendPeriodTitle).Title("نوع صندوق");
                      column.Bound(x => x.ProprietaryFundName).Title("نام اختصاصی صندوق ");
                      column.Bound(x => x.ValidFromJalali).Title("تاریخ ");

                      column.Command(command => command.Custom("انتخاب").Click("showDetails")).Width(180);


                      column.Bound(x => x.Guid).Visible(false);

                      // column.Command(command => command.Custom("جزییات").Click("showDetails"));

                  })
                  .Excel(excel => excel
                      .FileName("GeneralFundSetting.xlsx")
                      .Filterable(true)
                      .AllPages(true)

                      .ForceProxy(true)

                      .AllPages(true)
                      .ProxyURL(Url.Action("CustomExcelReport", "GeneralFundSetting"))
                  )
                  .Sortable(sortable => sortable.AllowUnsort(false).SortMode(GridSortMode.SingleColumn))

                  .Pageable(pager => pager
                      .Input(true)
                      .Numeric(true)
                      .Info(true)
                      .PreviousNext(true)
                      .Refresh(true)
                      .PageSizes(new[] { 10, 20, 50, 100 }))
                  .ToolBar(toolbar =>
                  {
                  toolbar.Template(@<text>
                <div class="toolbar" style="direction: ltr !important; ">

                    <div class="row pull-right ">
                        <div style="display: inline-block;">
                            <a class="pull-left k-button k-button-icontext k-grid-excel" href="#"><span class="k-icon k-i-excel"></span>Excel</a>
                        </div>
                        <div class="" style="width: 400px; margin-right: 15px; display: inline-block;">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                                <input type="text" class="form-control" id='FieldFilter' placeholder="جست و جو..." style="direction: rtl">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                </text>);
                  })
                  .AllowCopy(true)
                  .Selectable()
                  .Scrollable()
                  .HtmlAttributes(new { style = "height:500px;" })
                  .DataSource(dataSource => dataSource
                      .Ajax().Sort(a => a.Add(x => x.ValidFrom).Descending())
                      .PageSize(20).Read(read => read.Action("GetHistoricalGeneralFundSettings", "GeneralFundSetting"))
                  )
                  .Resizable(resize => resize.Columns(true))
                  .Reorderable(reorder => reorder.Columns(true)))

                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .form-horizontal .form-group {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .form-group-material > .control-label {
        opacity: 1 !important;
        filter: alpha(opacity=0);
    }
</style>
<script type="text/javascript" src="~/assets/js/pages/form_validation.js"></script>
<script type="text/javascript" src="~/assets/js/plugins/forms/inputs/formatter.min.js"></script>
<script>
    $("#saveSettingBtn").click(function() {

        if (!$("#form").valid()) {
            return;
        } else {


            var data = @Html.Raw(Json.Encode(Model));

            data = {
                "FundTitle": $('[name=FundTitle]').val(),
                "ProprietaryFundName": $('[name=ProprietaryFundName]').val(),
                "FundSize": $('#FundSize').data("kendoDropDownList").value(),
                "DividendGuarantee": $('#DividendGuarantee').data("kendoDropDownList").value(),
                "DividendPeriod": $('#DividendPeriod').data("kendoDropDownList").value(),
                "EstablishmentLicenseDate": $('[name=EstablishmentLicenseDate]').val(),
                "CompanyRegisterNumber": $('[name=CompanyRegisterNumber]').val(),
                "SeoRegisterNumber": $('[name=SeoRegisterNumber]').val(),
                "NationalIdentification": $('[name=NationalIdentification]').val(),
                "MinUnit": $('[name=MinUnit]').val(),
                "RegularUnitCount": $('[name=RegularUnitCount]').val(),
                "FundEnglishName": $('[name=FundEnglishName]').val(),
                "FundType": $('#FundType').data("kendoDropDownList").value(),
                "FundNav": $('[name=FundNav]').val(),
                "BourseCode": $('[name=BourseCode]').val(),
                "DayOfProfitSharing": $('[name=DayOfProfitSharing]').val(),
                "DateOfPortfolioManagementLicense": $('[name=DateOfPortfolioManagementLicense]').val(),
                "ActivityFromDate": $('[name=ActivityFromDate]').val(),
                "ActivitytoDate": $('[name=ActivitytoDate]').val(),
                "FundMaxUints": $('[name=FundMaxUints]').val(),
                "BoardMembersMaxUnits": $('[name=BoardMembersMaxUnits]').val() !== ''
                    ? $('[name=BoardMembersMaxUnits]').val()
                    : $('[name=BoardMembersMaxUnitsPercent]').val().toString()+'' ,

                "NoneFundBoardMembersMaxUnitsType": $('[name=NoneFundBoardMembersMaxUnitsType]').val() !== ''
                    ? $('[name=NoneFundBoardMembersMaxUnitsType]').val()
                    : $('[name=NoneFundBoardMembersMaxUnitsTypePercent]').val().toString()+'' ,
                "FundMinRequest": $('[name=FundMinRequest]').val(),
                "PrefferedUnitCount": $('[name=PrefferedUnitCount]').val(),
                "PamCode": $('[name=PamCode]').val()

            };


            $.ajax({
                url: '@Url.Action("SaveSetting", "GeneralFundSetting")',
                type: "POST",
                dataType: "json",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                401: function() {
                    var url = '@Url.Action("Login", "Account")';
                    window.location.href = url;
                },
                error: function(response) {

                    showNotification(response.Message, 'e');
                },

                success: function(response) {

                    if (response != null && response.BRuleCode == '1000') {
                        showNotification(response.Message, 's');
                        $(':input', '#form')
                            .not(':button, :submit, :reset, :hidden')
                            .val('')
                            .removeAttr('checked')
                            .removeAttr('selected');

                        $('#grid').data('kendoGrid').dataSource.read();

                    } else {
                        showNotification(response.Message, 'e');
                    }
                }
            });
        }
    });
    function showDetails(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var guid = dataItem.Guid;
        $('[name=FundTitle]').val(dataItem.FundTitle);
        $('[name=ProprietaryFundName]').val(dataItem.ProprietaryFundName);
        $('#FundSize').data("kendoDropDownList").value(dataItem.FundSize);
        $('#DividendGuarantee').data("kendoDropDownList").value(dataItem.DividendGuarantee);
        $('#DividendPeriod').data("kendoDropDownList").value(dataItem.DividendPeriod);
        $('[name=EstablishmentLicenseDate]').val(dataItem.EstablishmentLicenseDate);
        $('[name=CompanyRegisterNumber]').val(dataItem.CompanyRegisterNumber);
        $('[name=SeoRegisterNumber]').val(dataItem.SeoRegisterNumber);
        $('[name=NationalIdentification]').val(dataItem.NationalIdentification);
        $('[name=MinUnit]').val(dataItem.MinUnit);
        $('[name=RegularUnitCount]').val(dataItem.RegularUnitCount);
        $('[name=FundEnglishName]').val(dataItem.FundEnglishName);
        $('#FundType').data("kendoDropDownList").value(dataItem.FundType);
        $('[name=FundNav]').val(dataItem.FundNav);
        $('[name=BourseCode]').val(dataItem.BourseCode);
        $('[name=DayOfProfitSharing]').val(dataItem.DayOfProfitSharing);
        $('[name=DateOfPortfolioManagementLicense]').val(dataItem.DateOfPortfolioManagementLicense);
        $('[name=ActivityFromDate]').val(dataItem.ActivityFromDate);
        $('[name=ActivitytoDate]').val(dataItem.ActivitytoDate);
        $('[name=FundMaxUints]').val(dataItem.FundMaxUints);
        $('[name=PamCode]').val(dataItem.PamCode);


        if (dataItem.BoardMembersMaxUnits < 100)
            $('[name=BoardMembersMaxUnitsPercent]').val(dataItem.BoardMembersMaxUnits);
            else
            $('[name=BoardMembersMaxUnits]').val(dataItem.BoardMembersMaxUnits);


        if (dataItem.NoneFundBoardMembersMaxUnitsType < 100)
            $('[name=NoneFundBoardMembersMaxUnitsTypePercent]').val(dataItem.NoneFundBoardMembersMaxUnitsType);
            else
        $('[name=NoneFundBoardMembersMaxUnitsType]').val(dataItem.NoneFundBoardMembersMaxUnitsType);
        $('[name=FundMinRequest]').val(dataItem.FundMinRequest);
        $('[name=PrefferedUnitCount]').val(dataItem.PrefferedUnitCount);


    }

    $('.onOfThem1').keyup(function(e) {
        if (e.target.name === 'BoardMembersMaxUnitsPercent')
            $('[name=BoardMembersMaxUnits]').val('');
        else
            $('[name=BoardMembersMaxUnitsPercent]').val('');


    });

    $('.onOfThem2').keyup(function(e) {
        if (e.target.name === 'NoneFundBoardMembersMaxUnitsType')
            $('[name=NoneFundBoardMembersMaxUnitsTypePercent]').val('');
        else
            $('[name=NoneFundBoardMembersMaxUnitsType]').val('');


    });
</script>
