@using Kendo.Mvc.UI
@using IranMarketer.Domain.Entity
@using PersonalityRole = IranMarketer.Domain.Enum.PersonalityRole
<form id="BranchManagerSettingForm">
    <div class="panel panel-flat">
        <div class="panel-body" style="display: block;">
            <fieldset id="fielsSet5">
                <div class="form-group">
                    <label>مدیر ثبت</label>
                    @(Html.Kendo().MultiSelect().Name("BranchManager")
                          .HtmlAttributes(new {@class = " k-rtl"})
                          .DataTextField("FullName")
                          .DataValueField("NationalId").Filter(FilterType.Contains)
                          .AutoBind(false)
                          .AutoClose(false)
                          .MinLength(3)

                          .DataSource(source => source.Read(read => read.Action("GetPartyByFilter", "Party",new{roleId=(int)PersonalityRole.RegisterManager})).ServerFiltering(true)))

                </div>
                <div class="form-group">
                    <label>شامل مالیات و عوارض</label>
                    <input type="checkbox" name="BranchManagerConsiderTaxAndToll" id="BranchManagerConsiderTaxAndToll"/>
                </div>
             
            </fieldset>





            <div class="text-right">
                <button id="addBranchManagerSetting" type="button" class="btn btn-primary legitRipple">ذخیره<i class="icon-arrow-left13 position-right"></i></button>
            </div>
        </div>
    </div>

</form>

<div class="panel panel-flat panel-collapsed">
    <div class="panel-heading">
        <h5 class="panel-title">تاریخچه تنظیمات<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="reload"></a></li>
                <li><a data-action="close"></a></li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <div class="k-rtl">
            @(Html.Kendo().Grid<BranchManagerSetting>()
                  .Name("BranchManagerSettingGrid")
                  .Columns(column =>
                  {

                     
                      column.Bound(x => x.ConsiderTaxAndToll).Title("شامل مالیات و عوارض");

                      column.Bound(x => x.ValidFromJalali).Title("تاریخ");

                      //.ClientTemplate("<a href='" + Url.Action("UpdateUser", "UserManagement", new { UserName = "#=UserName#" }) + "'>#=UserName#</a>").HtmlAttributes("id=RowClick");
                      //.ClientTemplate("<a href='" + Url.Action("GetLogDetails", "Monitoring", new { Id = "#=Id#"}) + "'>#=EventDateTime#</a>").HtmlAttributes("id=RowClick");
                      column.Command(command => command.Custom("ویرایش").Click("BranchManagerSettingGridshowDetails")).Width(180);


                  })
                  .Excel(excel => excel
                      .FileName("BranchManagerSetting.xlsx")
                      .Filterable(true)
                      .AllPages(true)

                      .ForceProxy(true)

                      .AllPages(true)
                      .ProxyURL(Url.Action("CustomExcelReport", "ExpenseSetting"))
                  )
                  .Sortable(sortable => sortable.AllowUnsort(false))

                  .Pageable(pager => pager
                      .Input(true)
                      .Numeric(true)
                      .Info(true)
                      .PreviousNext(true)
                      .Refresh(true)
                      .PageSizes(new[] { 10, 20, 50, 100 })).Selectable(x =>
                      {
                          x.Enabled(true).Mode(GridSelectionMode.Single).Type(GridSelectionType.Row);
                      }).Events(c => c.Change("BranchManagerSettingGridonChenge"))
                  .ToolBar(toolbar =>
                  {
                      toolbar.Template(@<text>
                <div class="toolbar" style="direction: ltr !important;">

                    <div class="row pull-right ">
                        <div style="display: inline-block;">
                            <a class="pull-left k-button k-button-icontext k-grid-excel" href="#"><span class="k-icon k-i-excel"></span>Excel</a>
                        </div>
                        <div class="" style="width: 400px; margin-right: 15px; display: inline-block;">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                                <input type="text" class="form-control" id='FieldFilter' placeholder="جست و جو..." style="direction: rtl">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                    </text>);
                  })
                  .AllowCopy(true)
                  .Selectable()
                  .Scrollable()
                  .HtmlAttributes(new { style = "height:500px;" })
                  .DataSource(dataSource => dataSource
                      .Ajax().Sort(x => x.Add(a => a.ValidFrom).Descending())
                      .PageSize(20).Read(read => read.Action("GetHistoricalBranchManagerSettings", "BranchManagerSetting"))
                  )
                  .Resizable(resize => resize.Columns(true))
                  .Reorderable(reorder => reorder.Columns(true)))

        </div>
    </div>

</div>


<style type="text/css">
    .form-horizontal .form-group {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .form-group-material > .control-label {
        opacity: 1 !important;
        filter: alpha(opacity=0);
    }
</style>
<script type="text/javascript" src="~/assets/js/pages/form_validation.js"></script>
<script type="text/javascript" src="~/assets/js/plugins/forms/inputs/formatter.min.js"></script>
<script>
    $("#addBranchManagerSetting").click(function() {

        if (!$("#BranchManagerSettingForm").valid()) {
            return;
        } else {

            debugger;
            //var dataa = @Html.Raw(Json.Encode(Model));

            var data = {
                "BranchManager": $('#BranchManager').data("kendoMultiSelect").dataItems(),
                "ConsiderTaxAndToll": $('[name=BranchManagerConsiderTaxAndToll]').prop('checked')

            };




            $.ajax({
                url: '@Url.Action("SaveSetting", "BranchManagerSetting")',
                type: "POST",
                dataType: "json",

                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                401: function() {
                    var url = '@Url.Action("Login", "Account")';
                    window.location.href = url;
                },
                error: function(response) {

                    showNotification(response.Message, 'e');
                },

                success: function(response) {

                    if (response != null && response.BRuleCode == '1000') {
                        showNotification(response.Message, 's');
                        $(':input', '#BranchManagerSettingForm')
                            .not(':button, :submit, :reset, :hidden')
                            .val('')
                            .removeAttr('checked')
                            .removeAttr('selected');
                        $('#BranchManagerSettingGrid').data('kendoGrid').dataSource.read();

                    } else {
                        showNotification(response.Message, 'e');

                    }
                }
            });
        }
    });

    function BranchManagerSettingGridshowDetails(e) {
        e.preventDefault();
        $("#fielsSet5").removeAttr('disabled');

    }

    function BranchManagerSettingGridonChenge(e) {
        debugger;
        $("#fielsSet5").attr('disabled', 'disabled');
        var grid = $("#BranchManagerSettingGrid").data("kendoGrid");
        var dataItem = grid.dataItem(grid.select());

        var BranchManagerIds = $.map(dataItem.BranchManager, function (v){
            return v.NationalId;
        });
        $('#BranchManager').data("kendoMultiSelect").value(BranchManagerIds);

        $('[name=BranchManagerConsiderTaxAndToll]').prop('checked', dataItem.ConsiderTaxAndToll);

    }

</script>


