
@using Kendo.Mvc.UI
@using IranMarketer.Domain.Entity
@using AllOtherExpenses = IranMarketer.Domain.DTO.AllOtherExpenses,
@model AllOtherExpenses
<form id="AllOtherExpensesForm">
    <div class="panel panel-flat">
        <div class="panel-body" style="display: block;">

            <fieldset id="fielsSet8">
                <div class="row">
                    <div class="col-md-6">
                        <fieldset>
                            <legend class="text-semibold"><i class="icon-reading position-left"></i>نرخ تنزیل</legend>
                            <div class="form-group ">
                                <label>نرخ تنزیل سود سهام</label>
                                <input class="form-control mask" placeholder="نرخ تنزیل سود سهام" id="EquityProfitDiscountRate">
                            </div>
                        </fieldset>


                        <fieldset>
                            <legend class="text-semibold"><i class="icon-reading position-left"></i>هزینه برگزاری مجامع</legend>
                            <div class="form-group ">
                                <label>سقف هزینه مجامع</label>
                                <input class="form-control mask" placeholder="سقف هزینه مجامع" id="MaxofGAMCost">
                            </div>
                            <div class="form-group ">
                                <label>هزینه برگزاری مجامع</label>
                                <input class="form-control mask" placeholder="هزینه برگزاری مجامع" id="GAMCost">
                            </div>
                            <div class="form-group ">
                                <label>مالیات</label>
                                <input class="form-control mask" placeholder="مالیات" id="GAMCostTax">
                            </div>
                            <div class="form-group ">
                                <label>عوارض</label>
                                <input class="form-control mask" placeholder="عوارض" id="GAMCostToll">
                            </div>

                            <div class="form-group">
                                <label>از تاریخ</label>
                                @Html.Kendo().DatePicker().Name("GAMFromDate").HtmlAttributes(new { style = "width:250px", type = "text" }).Format("yyyy/MM/dd")


                            </div>
                            <div class="form-group">
                                <label> تا تاریخ</label>
                                @Html.Kendo().DatePicker().Name("GAMToDate").HtmlAttributes(new { style = "width:250px", type = "text" }).Format("yyyy/MM/dd")
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend class="text-semibold"><i class="icon-reading position-left"></i>هزینه تاسیس</legend>
                            <div class="form-group ">
                                <label>سقف هزینه تاسیس</label>
                                <input class="form-control mask" placeholder="سقف هزینه تاسیس" id="MaxofEstablishmentCost">
                            </div>
                            <div class="form-group ">
                                <label>مقدار هزینه تاسیس</label>
                                <input class="form-control mask" placeholder="درصد از وجوه جذب شده" id="EstablishmentCost">
                            </div>
                            <div class="form-group ">
                                <label>درصد از وجوه جذب شده</label>
                                <input class="form-control mask" placeholder="درصد از وجوه جذب شده" id="EstablishmentCostPercent">
                            </div>
                            <div class="form-group ">
                                <label>مالیات</label>
                                <input class="form-control mask" placeholder="مالیات" id="EstablishmentCostTax">
                            </div>
                            <div class="form-group ">
                                <label>عوارض</label>
                                <input class="form-control mask" placeholder="عوارض" id="EstablishmentCostToll">
                            </div>

                            <div class="form-group">
                                <label>از تاریخ</label>
                                @Html.Kendo().DatePicker().Name("EstablishmentFromDate").HtmlAttributes(new { style = "width:250px", type = "text" }).Format("yyyy/MM/dd")
                                <span class="text-danger">*</span>

                            </div>
                            <div class="form-group">
                                <label> تا تاریخ</label>
                                @Html.Kendo().DatePicker().Name("EstablishmentToDate").HtmlAttributes(new { style = "width:250px", type = "text" }).Format("yyyy/MM/dd")
                                <span class="text-danger">*</span>

                            </div>


                        </fieldset>

                    </div>
                    <div class="col-md-6">
                        <fieldset>
                            <legend class="text-semibold"><i class="icon-reading position-left"></i>هزینه عضویت در کانون ها</legend>
                            <div class="form-group ">
                                <label>سقف هزینه عضویت در کانون</label>
                                <input class="form-control mask" placeholder="سقف هزینه عضویت در کانون" id="MaxofClubMembershipCost">
                            </div>
                            <div class="form-group ">
                                <label>هزینه عضویت در کانون ها</label>
                                <input class="form-control mask" placeholder="هزینه عضویت در کانون ها" id="ClubMembershipCost">
                            </div>
                            <div class="form-group ">
                                <label>مالیات</label>
                                <input class="form-control mask" placeholder="مالیات" id="ClubMembershipCostTax">
                            </div>
                            <div class="form-group ">
                                <label>عوارض</label>
                                <input class="form-control mask" placeholder="عوارض" id="ClubMembershipCostToll">
                            </div>

                            <div class="form-group">
                                <label>از تاریخ</label>
                                @Html.Kendo().DatePicker().Name("ClubMembershipFromDate").HtmlAttributes(new { style = "width:250px", type = "text" }).Format("yyyy/MM/dd")
                                <span class="text-danger">*</span>

                            </div>
                            <div class="form-group">
                                <label> تا تاریخ</label>
                                @Html.Kendo().DatePicker().Name("ClubMembershipToDate").HtmlAttributes(new { style = "width:250px", type = "text" }).Format("yyyy/MM/dd")
                                <span class="text-danger">*</span>

                            </div>
                        </fieldset>

                        <fieldset>
                            <legend class="text-semibold"><i class="icon-reading position-left"></i>هزینه نرم افزار</legend>
                            <div class="form-group">
                                <label>هزینه ثابت نرم افزار</label>
                                <input class="form-control mask" placeholder="هزینه ثابت نرم افزار" id="SoftwareCost">
                            </div>
                            <div class="form-group ">
                                <label>مبلغ متغیر بابت صدور و ابطال</label>
                                <input class="form-control mask" placeholder="مبلغ متغیر بابت صدور و ابطال" id="SoftwareCostOnSubscriptionAndRedemption">
                            </div>
                            <div class="form-group">
                                <label>مبلغ متغیر بابت مشتری فعال</label>
                                <input class="form-control mask" placeholder="مبلغ متغیر بابت مشتری فعال" id="SoftwareCostOnSherHolders">
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label>درصد کارمزد</label>
                                        <input class="form-control" placeholder="درصد کارمزد" id="SoftwareCostPercent1">
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="form-group ">
                                        <label>تا ارزش</label>
                                        <input class="form-control mask" placeholder="تا ارزش خالص دارایی" id="SoftwareNetAsset1">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label>درصد کارمزد</label>
                                        <input class="form-control" placeholder="درصد کارمزد" id="SoftwareCostPercent2">
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="form-group ">
                                        <label>تا ارزش</label>
                                        <input class="form-control mask" placeholder="تا ارزش خالص دارایی" id="SoftwareNetAsset2">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">

                                    <label>درصد کارمزد</label>
                                    <input class="form-control" placeholder="درصد کارمزد" id="SoftwareCostPercent3">

                                </div>
                                <div class="col-md-6">


                                    <label>بالاتر از ارزش</label>
                                    <input class="form-control mask" placeholder="بالا تر از ارزش" id="SoftwareNetAsset3">

                                </div>
                            </div>
                            <div class="form-group ">
                                <label>مالیات</label>
                                <input class="form-control mask" placeholder="مالیات" id="SoftwareCostTax">
                            </div>
                            <div class="form-group ">
                                <label>عوارض</label>
                                <input class="form-control mask" placeholder="عوارض" id="SoftwareCostToll">
                            </div>

                            <div class="form-group">
                                <label>از تاریخ</label>
                                @Html.Kendo().DatePicker().Name("SoftwareCostFromDate").HtmlAttributes(new { style = "width:250px", type = "text" }).Format("yyyy/MM/dd")
                                <span class="text-danger">*</span>

                            </div>
                            <div class="form-group">
                                <label> تا تاریخ</label>
                                @Html.Kendo().DatePicker().Name("SoftwareCostToDate").HtmlAttributes(new { style = "width:250px", type = "text" }).Format("yyyy/MM/dd")
                                <span class="text-danger">*</span>

                            </div>
                        </fieldset>

                        <fieldset>
                            <legend class="text-semibold"><i class="icon-reading position-left"></i>تنظیمات تصفیه</legend>
                            <div class="form-group ">
                                <label>ضریب سالانه کارمزد تصفیه</label>
                                <input class="form-control " type="number" step="any" placeholder="ضریب سالانه کارمزد تصفیه" id="ClearingAndSettlementWageFactor">
                            </div>
                            <div class="form-group ">
                                <label>مقدار عددی کارمزد تصفیه</label>
                                <input class="form-control mask" placeholder="مقدار عددی کارمزد تصفیه" id="ClearingAndSettlementWageAmount">
                            </div>
                            <div class="form-group ">
                                <label>سال مورد نظر برای محاسبه</label>
                                <input class="form-control mask" placeholder="سال مورد نظر برای محاسبه" id="YearForCalclualtionClearing">
                            </div>

                            <div class="form-group">
                                <label>از تاریخ</label>
                                @Html.Kendo().DatePicker().Name("ClearingAndSettlemenFromDate").HtmlAttributes(new { style = "width:250px", type = "text" }).Format("yyyy/MM/dd")
                                <span class="text-danger">*</span>

                            </div>
                            <div class="form-group">
                                <label> تا تاریخ</label>
                                @Html.Kendo().DatePicker().Name("ClearingAndSettlemenToDate").HtmlAttributes(new { style = "width:250px", type = "text" }).Format("yyyy/MM/dd")
                                <span class="text-danger">*</span>

                            </div>
                            <div class="form-group">
                                <label> در نظر گرفتن مالیات و عوارض</label>
                                <input type="checkbox" id="ClearingAndSettlemenConsiderTaxAndToll" />
                            </div>
                        </fieldset>


                    </div>
                    <div class="col-md-6">
                        <fieldset>
                            <legend class="text-semibold"><i class="icon-reading position-left"></i>تنظیمات کارمزد صدور و ابطال   </legend>
                            <div class="form-group ">
                                <label>کارمزد ثابت صدور</label>
                                <input class="form-control mask" placeholder="کارمزد ثابت صدور" id="SubscriptionFixedWage">
                            </div>
                            <div class="form-group ">
                                <label>کارمزد ثابت ابطال</label>
                                <input class="form-control mask" placeholder="کارمزد ثابت ابطال" id="RedemptionFixedWage">
                            </div>
                            <div class="form-group ">
                                <label>ضریب کارمزد متغیر ابطال</label>
                                <input class="form-control mask" placeholder="ضریب کارمزد متغیر ابطال" id="RedemptionVariableWageFactor">
                            </div>
                            <div class="form-group ">
                                <label>سقف کارمزد متغیر ابطال</label>
                                <input class="form-control mask" placeholder="سقف کارمزد متغیر ابطال" id="MaxOfRedemptionVariableWageFactor">
                            </div>

                            <div class="form-group ">
                                <label>ضریب کارمزد متغیر صدور</label>
                                <input class="form-control mask" placeholder="ضریب کارمزد متغیر صدور" id="SubscriptionVariableWageFactor">
                            </div>
                            <div class="form-group ">
                                <label>سقف کارمزد متغیر صدور</label>
                                <input class="form-control mask" placeholder="سقف کارمزد متغیر صدور" id="MaxOfubscriptionVariableWageFactor">
                            </div>

                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group ">
                                        <label style="display: block">زمان مجاز صدور و ابطال از</label>
                                        @Html.Kendo().TimePicker().Name("RequestVaidateFromTime")


                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="form-group ">
                                        <label style="display: block">تا ساعت </label>
                                        @Html.Kendo().TimePicker().Name("RequestVaidateToTime")
                                    </div>
                                </div>


                            </div>

                        </fieldset>


                    </div>
                    <div class="col-md-6">
                        <fieldset>
                            <legend class="text-semibold"><i class="icon-reading position-left"></i>تنظیمات کارمزد صدور و ابطال</legend>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label>پنالتی1</label>
                                        <input class="form-control " placeholder="جریمه ابطال" id="Percent1">

                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="form-group ">
                                        <label>تا روز</label>
                                        <input class="form-control " placeholder="حداکثر روز مشمول جریمه" id="MaxDate1">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group ">
                                        <label>پنالتی2</label>
                                        <input class="form-control " placeholder="جریمه ابطال" id="Percent2">

                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="form-group ">
                                        <label>تا روز</label>
                                        <input class="form-control " placeholder="حداکثر روز مشمول جریمه" id="MaxDate2">
                                    </div>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group ">
                                        <label>پنالتی3</label>
                                        <input class="form-control " placeholder="جریمه ابطال" id="Percent3">

                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="form-group ">
                                        <label>تا روز</label>
                                        <input class="form-control " placeholder="حداکثر روز مشمول جریمه" id="MaxDate3">
                                    </div>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group ">
                                        <label>پنالتی4</label>
                                        <input class="form-control " placeholder="جریمه ابطال" id="Percent4">

                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="form-group ">
                                        <label>تا روز</label>
                                        <input class="form-control " placeholder="حداکثر روز مشمول جریمه" id="MaxDate4">
                                    </div>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group ">
                                        <label>پنالتی5</label>
                                        <input class="form-control " placeholder="جریمه ابطال" id="Percent5">

                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="form-group ">
                                        <label>تا روز</label>
                                        <input class="form-control " placeholder="حداکثر روز مشمول جریمه" id="MaxDate5">
                                    </div>
                                </div>


                            </div>
                        </fieldset>


                    </div>
                </div>





            </fieldset>

            <div class="text-right">
                <button id="addAllOtherExpenses" type="button" class="btn btn-primary legitRipple">ذخیره<i class="icon-arrow-left13 position-right"></i></button>
            </div>
        </div>
    </div>

</form>

<div class="panel panel-flat panel-collapsed">
    <div class="panel-heading">
        <h5 class="panel-title">تاریخچه تنظیمات<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="reload"></a></li>
                <li><a data-action="close"></a></li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <div class="k-rtl">
            @(Html.Kendo().Grid<AllOtherExpenses>()
                  .Name("AllOtherExpensesGrid")
                  .Columns(column =>
                  {

                      column.Bound(x => x.ValidFromJalali).Title("تاریخ");
                      //.ClientTemplate("<a href='" + Url.Action("UpdateUser", "UserManagement", new { UserName = "#=UserName#" }) + "'>#=UserName#</a>").HtmlAttributes("id=RowClick");
                      //.ClientTemplate("<a href='" + Url.Action("GetLogDetails", "Monitoring", new { Id = "#=Id#"}) + "'>#=EventDateTime#</a>").HtmlAttributes("id=RowClick");
                      column.Command(command => command.Custom("ویرایش").Click("AllOtherExpensesGridshowDetails")).Width(180);


                  })
                  .Excel(excel => excel
                      .FileName("OtherExpensesSetting.xlsx")
                      .Filterable(true)
                      .AllPages(true)

                      .ForceProxy(true)

                      .AllPages(true)
                      .ProxyURL(Url.Action("CustomExcelReport", "ExpenseSetting"))
                  )
                  .Sortable(sortable => sortable.AllowUnsort(false))

                  .Pageable(pager => pager
                      .Input(true)
                      .Numeric(true)
                      .Info(true)
                      .PreviousNext(true)
                      .Refresh(true)
                      .PageSizes(new[] { 10, 20, 50, 100 })).Selectable(x =>
                      {
                          x.Enabled(true).Mode(GridSelectionMode.Single).Type(GridSelectionType.Row);
                      }).Events(c => c.Change("AllOtherExpensesGridonChenge"))
                  .ToolBar(toolbar =>
                  {
                      toolbar.Template(@<text>
                <div class="toolbar" style="direction: ltr !important;">

                    <div class="row pull-right ">
                        <div style="display: inline-block;">
                            <a class="pull-left k-button k-button-icontext k-grid-excel" href="#"><span class="k-icon k-i-excel"></span>Excel</a>
                        </div>
                        <div class="" style="width: 400px; margin-right: 15px; display: inline-block;">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                                <input class="form-control" id='FieldFilter' placeholder="جست و جو..." style="direction: rtl">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                    </text>);
                  })
                  .AllowCopy(true)
                  .Selectable()
                  .Scrollable()
                  .HtmlAttributes(new { style = "height:500px;" })
                  .DataSource(dataSource => dataSource
                      .Ajax().Sort(x => x.Add(a => a.ValidFrom).Descending())
                      .PageSize(20).Read(read => read.Action("GetHistoricalAllOtherExpenses", "AllOtherExpensesSetting"))
                  )
                  .Resizable(resize => resize.Columns(true))
                  .Reorderable(reorder => reorder.Columns(true)))

        </div>
    </div>

</div>


<style type="text/css">
    .form-horizontal .form-group {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .form-group-material > .control-label {
        opacity: 1 !important;
        filter: alpha(opacity=0);
    }
</style>
<script type="text/javascript" src="~/assets/js/pages/form_validation.js"></script>
<script type="text/javascript" src="~/assets/js/plugins/forms/inputs/formatter.min.js"></script>
<script>
    $("#addAllOtherExpenses").click(function() {

        if (!$("#AllOtherExpensesForm").valid()) {
            return;
        } else {

            var data = {
                "OtherExpensesMaxSetting":
                {
                    "MaxofEstablishmentCost": $('#MaxofEstablishmentCost').cleanVal(),
                    "MaxofGAMCost": $('#MaxofGAMCost').cleanVal(),
                    "MaxofClubMembershipCost": $('#MaxofClubMembershipCost').cleanVal(),
                    "EquityProfitDiscountRate": $('#EquityProfitDiscountRate').cleanVal()
                },
                "GAMCostSetting":
                {
                    "GAMCost": $('#GAMCost').cleanVal(),
                    "GAMCostTax": $('#GAMCostTax').cleanVal(),
                    "GAMCostToll": $('#GAMCostToll').cleanVal(),
                    "FromDate": $('#GAMFromDate').val(),
                    "ToDate": $('#GAMToDate').val()

                },
                "EstablishmentCostSetting":
                {
                    "EstablishmentCost": $('#EstablishmentCost').cleanVal(),
                    "EstablishmentCostTax": $('#EstablishmentCostTax').cleanVal(),
                    "EstablishmentCostToll": $('#EstablishmentCostToll').cleanVal(),
                    "FromDate": $('#EstablishmentFromDate').val(),
                    "ToDate": $('#EstablishmentToDate').val()

                },
                "ClubMembershipCostSetting":
                {
                    "ClubMembershipCost": $('#ClubMembershipCost').cleanVal(),
                    "ClubMembershipCostTax": $('#ClubMembershipCostTax').cleanVal(),
                    "ClubMembershipCostToll": $('#ClubMembershipCostToll').cleanVal(),
                    "FromDate": $('#ClubMembershipFromDate').val(),
                    "ToDate": $('#ClubMembershipToDate').val()

                },
                "SoftwareAndAccessCostSetting":
                {
                    "SoftwareCost": $('#SoftwareCost').cleanVal(),
                    "SoftwareCostOnSubscriptionAndRedemption": $('#SoftwareCostOnSubscriptionAndRedemption').cleanVal(),
                    "SoftwareCostOnSherHolders": $('#SoftwareCostOnSherHolders').cleanVal(),
                    "SoftwareCostTax": $('#SoftwareCostTax').cleanVal(),
                    "SoftwareCostToll": $('#SoftwareCostToll').cleanVal(),
                    "FromDate": $('#SoftwareCostFromDate').val(),
                    "ToDate": $('#SoftwareCostToDate').val(),
                    "SoftwareAndAccessCostOnNetValue1":
                    {
                        "Percent": $('#SoftwareCostPercent1').val(),
                        "MaxNetValue": $('#SoftwareNetAsset1').cleanVal()
                    },
                    "SoftwareAndAccessCostOnNetValue2":
                    {
                        "Percent": $('#SoftwareCostPercent2').val(),
                        "MaxNetValue": $('#SoftwareNetAsset2').cleanVal()
                    },
                    "SoftwareAndAccessCostOnNetValue3":
                    {
                        "Percent": $('#SoftwareCostPercent3').val(),
                        "MaxNetValue": $('#SoftwareNetAsset3').cleanVal()
                    }
                },
                "FundSettlementCostSetting": {
                    "ClearingAndSettlementWageFactor": $('#ClearingAndSettlementWageFactor').val(),
                    "ClearingAndSettlementWageAmount": $('#ClearingAndSettlementWageAmount').cleanVal(),
                    "FromDate": $('#ClearingAndSettlemenFromDate').val(),
                    "ToDate": $('#ClearingAndSettlemenToDate').val(),
                    "ConsiderTaxAndToll": $('#ClearingAndSettlemenConsiderTaxAndToll').prop('checked'),
                "YearForCalclualtionClearing": $('#YearForCalclualtionClearing').val()

                },
                "RequestFeeSetting":
                {
                    "SubscriptionFixedWage": $('#SubscriptionFixedWage').cleanVal(),
                    "RedemptionFixedWage": $('#RedemptionFixedWage').cleanVal(),
                    "RedemptionVariableWageFactor": $('#RedemptionVariableWageFactor').cleanVal(),
                    "MaxOfRedemptionVariableWageFactor": $('#MaxOfRedemptionVariableWageFactor').cleanVal(),
                    "SubscriptionVariableWageFactor": $('#SubscriptionVariableWageFactor').cleanVal(),
                    "MaxOfubscriptionVariableWageFactor": $('#MaxOfubscriptionVariableWageFactor').cleanVal(),
                    "RequestVaidateFromTime": $('#RequestVaidateFromTime').data("kendoTimePicker").value(),
                    "RequestVaidateToTime": $('#RequestVaidateToTime').data("kendoTimePicker").value(),

                    "Penalty1":
                    {
                        "Percent": $('#Percent1').val(),
                        "MaxDate": $('#MaxDate1').val()
                    },
                    "Penalty2":
                    {
                        "Percent": $('#Percent2').val(),
                        "MaxDate": $('#MaxDate2').val()
                    },
                    "Penalty3":
                    {
                        "Percent": $('#Percent3').val(),
                        "MaxDate": $('#MaxDate3').val()
                    },
                    "Penalty4":
                    {
                        "Percent": $('#Percent4').val(),
                        "MaxDate": $('#MaxDate4').val()
                    },
                    "Penalty5":
                    {
                        "Percent": $('#Percent5').val(),
                        "MaxDate": $('#MaxDate5').val()
                    }



                }

            };

            $.ajax({
                url: '@Url.Action("SaveSetting", "AllOtherExpensesSetting")',
                type: "POST",
                dataType: "json",

                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                401: function() {
                    var url = '@Url.Action("Login", "Account")';
                    window.location.href = url;
                },
                error: function(response) {

                    showNotification(response.Message, 'e');
                },

                success: function(response) {

                    if (response != null && response.BRuleCode == '1000') {
                        showNotification(response.Message, 's');
                        $(':input', '#AllOtherExpensesForm')
                            .not(':button, :submit, :reset, :hidden')
                            .val('')
                            .removeAttr('checked')
                            .removeAttr('selected');
                        $('#AllOtherExpensesGrid').data('kendoGrid').dataSource.read();

                    } else {
                        showNotification(response.Message, 'e');

                    }
                }
            });
        }
    });

    function AllOtherExpensesGridshowDetails(e) {
        e.preventDefault();
        $("#fielsSet8").removeAttr('disabled');

    }

    function AllOtherExpensesGridonChenge(e) {
        
        $("#fielsSet8").attr('disabled', 'disabled');
        var grid = $("#AllOtherExpensesGrid").data("kendoGrid");
        var dataItem = grid.dataItem(grid.select());


        $('#MaxofEstablishmentCost').val(dataItem.OtherExpensesMaxSetting.MaxofEstablishmentCost);
        $('#MaxofGAMCost').val(dataItem.OtherExpensesMaxSetting.MaxofGAMCost);
        $('#MaxofClubMembershipCost').val(dataItem.OtherExpensesMaxSetting.MaxofClubMembershipCost) ;
        $('#EquityProfitDiscountRate').val(dataItem.OtherExpensesMaxSetting.EquityProfitDiscountRate);


        $('#GAMCost').val(dataItem.GAMCostSetting.GAMCost);
        $('#GAMCostTax').val(dataItem.GAMCostSetting.GAMCostTax);
        $('#GAMCostToll').val(dataItem.GAMCostSetting.GAMCostToll);
        $('#GAMFromDate').val(dataItem.GAMCostSetting.FromDate);
        $('#GAMToDate').val(dataItem.GAMCostSetting.ToDate);


        $('#EstablishmentCost').val(dataItem.EstablishmentCostSetting.EstablishmentCost);
        $('#EstablishmentCostTax').val(dataItem.EstablishmentCostSetting.EstablishmentCostTax);
        $('#EstablishmentCostToll').val(dataItem.EstablishmentCostSetting.EstablishmentCostToll);
        $('#EstablishmentToDate').val(dataItem.EstablishmentCostSetting.ToDate);
        $('#EstablishmentFromDate').val(dataItem.EstablishmentCostSetting.FromDate);


        $('#ClubMembershipCost').val(dataItem.ClubMembershipCostSetting.ClubMembershipCost);
        $('#ClubMembershipCostTax').val(dataItem.ClubMembershipCostSetting.ClubMembershipCostTax);
        $('#ClubMembershipCostToll').val(dataItem.ClubMembershipCostSetting.ClubMembershipCostToll);
        $('#ClubMembershipFromDate').val(dataItem.ClubMembershipCostSetting.FromDate);
        $('#ClubMembershipToDate').val(dataItem.ClubMembershipCostSetting.ToDate);


        $('#SoftwareCost').val(dataItem.SoftwareAndAccessCostSetting.SoftwareCost);
        $('#SoftwareCostOnSubscriptionAndRedemption').val(dataItem.SoftwareAndAccessCostSetting.SoftwareCostOnSubscriptionAndRedemption);
        $('#SoftwareCostOnSherHolders').val(dataItem.SoftwareAndAccessCostSetting.SoftwareCostOnSherHolders);
        $('#SoftwareCostPercent1').val(dataItem.SoftwareAndAccessCostSetting.SoftwareAndAccessCostOnNetValue1.Percent);
        $('#SoftwareNetAsset1').val(dataItem.SoftwareAndAccessCostSetting.SoftwareAndAccessCostOnNetValue1.MaxNetValue);
        $('#SoftwareCostPercent2').val(dataItem.SoftwareAndAccessCostSetting.SoftwareAndAccessCostOnNetValue2.Percent);
        $('#SoftwareNetAsset2').val(dataItem.SoftwareAndAccessCostSetting.SoftwareAndAccessCostOnNetValue2.MaxNetValue);
        $('#SoftwareCostPercent3').val(dataItem.SoftwareAndAccessCostSetting.SoftwareAndAccessCostOnNetValue3.Percent);
        $('#SoftwareNetAsset3').val(dataItem.SoftwareAndAccessCostSetting.SoftwareAndAccessCostOnNetValue3.MaxNetValue);
        $('#SoftwareCostTax').val(dataItem.SoftwareAndAccessCostSetting.SoftwareCostTax);
        $('#SoftwareCostToll').val(dataItem.SoftwareAndAccessCostSetting.SoftwareCostToll);
        $('#SoftwareCostFromDate').val(dataItem.SoftwareAndAccessCostSetting.FromDate);
        $('#SoftwareCostToDate').val(dataItem.SoftwareAndAccessCostSetting.ToDate);


        $('#ClearingAndSettlementWageFactor').val(dataItem.FundSettlementCostSetting.ClearingAndSettlementWageFactor);
        $('#ClearingAndSettlementWageAmount').val(dataItem.FundSettlementCostSetting.ClearingAndSettlementWageAmount);
        $('#ClearingAndSettlemenFromDate').val(dataItem.FundSettlementCostSetting.FromDate);
        $('#ClearingAndSettlemenToDate').val(dataItem.FundSettlementCostSetting.ToDate);
        $('#ClearingAndSettlemenConsiderTaxAndToll').prop('checked', dataItem.FundSettlementCostSetting.ConsiderTaxAndToll);
        $('#YearForCalclualtionClearing').val(dataItem.FundSettlementCostSetting.YearForCalclualtionClearing);


        $('#SubscriptionFixedWage').val(dataItem.RequestFeeSetting.SubscriptionFixedWage);
        $('#RedemptionFixedWage').val(dataItem.RequestFeeSetting.RedemptionFixedWage);
        $('#RedemptionVariableWageFactor').val(dataItem.RequestFeeSetting.RedemptionVariableWageFactor);
        $('#MaxOfRedemptionVariableWageFactor').val(dataItem.RequestFeeSetting.MaxOfRedemptionVariableWageFactor);
        $('#SubscriptionVariableWageFactor').val(dataItem.RequestFeeSetting.SubscriptionVariableWageFactor);
        $('#MaxOfubscriptionVariableWageFactor').val(dataItem.RequestFeeSetting.MaxOfubscriptionVariableWageFactor);


        $('#MaxDate1').val(dataItem.RequestFeeSetting.Penalty1.MaxDate);
        $('#Percent1').val(dataItem.RequestFeeSetting.Penalty1.Percent);
        $('#MaxDate2').val(dataItem.RequestFeeSetting.Penalty2.MaxDate);
        $('#Percent2').val(dataItem.RequestFeeSetting.Penalty2.Percent);
        $('#MaxDate3').val(dataItem.RequestFeeSetting.Penalty3.MaxDate);
        $('#Percent3').val(dataItem.RequestFeeSetting.Penalty3.Percent);
        $('#MaxDate4').val(dataItem.RequestFeeSetting.Penalty4.MaxDate);
        $('#Percent4').val(dataItem.RequestFeeSetting.Penalty4.Percent);
        $('#MaxDate5').val(dataItem.RequestFeeSetting.Penalty5.MaxDate);
        $('#Percent5').val(dataItem.RequestFeeSetting.Penalty5.Percent);
        $('#RequestVaidateFromTime').data("kendoTimePicker").value(dataItem.RequestFeeSetting.RequestVaidateFromTime),
        $('#RequestVaidateToTime').data("kendoTimePicker").value(dataItem.RequestFeeSetting.RequestVaidateToTime),

    
        $('.mask').trigger('input');
    }

</script>


