@using Kendo.Mvc.UI
@using IranMarketer.Domain.Entity
@using CustodianSetting = IranMarketer.Domain.DTO.CustodianSetting
@using PersonalityRole = IranMarketer.Domain.Enum.PersonalityRole
@model CustodianSetting
<div class="panel panel-flat">
    <form id="CustodianSettingForm">
        <fieldset id="fielsSet4">
            

        <div class="panel-body" style="display: block;">

            <div class="form-group">
                <label>متولی </label>
                @(Html.Kendo().MultiSelect().Name("Custodian")
                .MaxSelectedItems(1)
                      .DataValueField("NationalId").Filter(FilterType.Contains)
                      .DataTextField("FullName").Placeholder("متولی")
                      .HtmlAttributes(new
                      {
                          style = "width:400px;margin-right: 1px;",
                          data_required_msg = " الزامی است",
                          required = "required"
                      })
                       .Filter("contains")
                      .MinLength(3)
                .AutoBind(false)
                      .DataSource(
                          source => source.Read(read => read.Action("GetPartyByFilter", "Party",new{roleId=(int)PersonalityRole.Custodian})

                              ).ServerFiltering(true))
                      .Enable(true))
            </div>
            <div class="form-group">
                <label>از تاریخ</label>
                @Html.Kendo().DatePicker().Name("CustodianFromDate").HtmlAttributes(new {style = "width:250px", type = "text"}).Format("yyyy/MM/dd")
                <span class="text-danger">*</span>

            </div>
            <div class="form-group">
                <label> تا تاریخ</label>
                @Html.Kendo().DatePicker().Name("CustodianToDate").HtmlAttributes(new {style = "width:250px", type = "text"}).Format("yyyy/MM/dd")
                <span class="text-danger">*</span>

            </div>
            <div class="form-group">
                <label>حداقل کارمزد برای متولی</label>
                <input type="number" min="0" class="form-control" placeholder="حداقل کارمزد برای متولی" name="CustodianMinFeeValue" id="CustodianMinFeeValue" data-bind="value: CustodianMinFeeValue" value="@Model.CustodianMinFeeValue">
            </div>

            <div class="form-group">
                <label>حداکثر کارمزد برای متولی</label>
                <input type="number" min="0" class="form-control" placeholder="حداکثر کارمزد برای متولی" name="CustodianMaxFeeValue" id="CustodianMaxFeeValue" data-bind="value: CustodianMaxFeeValue" value="@Model.CustodianMaxFeeValue">
            </div>



                <div class="form-group">
                    <label>درصد از متوسط روزانه خالص ارزش دارایی</label>
                    <input type="number" min="0" class="form-control" placeholder="درصد از متوسط روزانه خالص ارزش دارایی" name="YearlyFeeFactorOnNetAsset" id="YearlyFeeFactorOnNetAsset" data-bind="value: YearlyFeeFactorOnNetAsset" value="@Model.YearlyFeeFactorOnNetAsset">
                </div>

            <div class="form-group">
                <label>کارمزد ثابت سالانه متولی</label>
                <input type="number" min="0" class="form-control" placeholder="کارمزد ثابت سالانه متولی" name="YearlyFixedFeeValue" id="YearlyFixedFeeValue" data-bind="value: YearlyFixedFeeValue" value="@Model.YearlyFixedFeeValue">
            </div>
            
            <div class="form-group">
                <label>مالیات بر ارزش افزوده برای متولی</label>
                <input type="number" min="0" class="form-control" placeholder="مالیات بر ارزش افزوده برای متولی" name="CustodianFeeTax" id="CustodianFeeTax" data-bind="value: CustodianFeeTax" value="@Model.CustodianFeeTax">
            </div>
            <div class="form-group">
                <label>عوارض برای متولی</label>
                <input type="number" min="0" class="form-control" placeholder="عوارض برای متولی" name="CustodianFeeToll" id="CustodianFeeToll" data-bind="value: CustodianCustodianFeeToll" value="@Model.CustodianFeeToll">
            </div>


                <div class="text-right">
                    <button id="addCustodianSetting" type="button" class="btn btn-primary legitRipple">ذخیره<i class="icon-arrow-left13 position-right"></i></button>
                </div>
            </div>
        
        </fieldset>
    </form>
</div>
<div class="panel panel-flat panel-collapsed">
    <div class="panel-heading">
        <h5 class="panel-title">تاریخچه تنظیمات<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="reload"></a></li>
                <li><a data-action="close"></a></li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <div class="k-rtl">
            @(Html.Kendo().Grid<CustodianSetting>()
                  .Name("CustodianSettingGrid")
                  .Columns(column =>
                  {

                      column.Bound(x => x.Custodian.FullName).Title("نام متولی");
                      column.Bound(x => x.CustodianFromDate).Title("متولی از تاریخ");
                      column.Bound(x => x.CustodianToDate).Title("متولی تا تاریخ");
                      column.Bound(x => x.ValidFromJalali).Title(" تاریخ");

                      //.ClientTemplate("<a href='" + Url.Action("UpdateUser", "UserManagement", new { UserName = "#=UserName#" }) + "'>#=UserName#</a>").HtmlAttributes("id=RowClick");
                      //.ClientTemplate("<a href='" + Url.Action("GetLogDetails", "Monitoring", new { Id = "#=Id#"}) + "'>#=EventDateTime#</a>").HtmlAttributes("id=RowClick");
                      column.Command(command => command.Custom("انتخاب").Click("showDetails2")).Width(180);


                  })
                  .Excel(excel => excel
                      .FileName("CustodiamSetting.xlsx")
                      .Filterable(true)
                      .AllPages(true)

                      .ForceProxy(true)

                      .AllPages(true)
                      .ProxyURL(Url.Action("CustomExcelReport", "ExpenseSetting"))
                  )
                  .Sortable(sortable => sortable.AllowUnsort(false))

                  .Pageable(pager => pager
                      .Input(true)
                      .Numeric(true)
                      .Info(true)
                      .PreviousNext(true)
                      .Refresh(true)
                      .PageSizes(new[] {10, 20, 50, 100}))
                  .Selectable(x =>
                  {
                      x.Enabled(true).Mode(GridSelectionMode.Single).Type(GridSelectionType.Row);
                  }).Events(c=>c.Change("GridonChenge4"))
                  .ToolBar(toolbar =>
                  {
                      toolbar.Template(@<text>
                                           <div class="toolbar" style="direction: ltr !important;">

                                               <div class="row pull-right ">
                                                   <div style="display: inline-block;">
                                                       <a class="pull-left k-button k-button-icontext k-grid-excel" href="#"><span class="k-icon k-i-excel"></span>Excel</a>
                                                   </div>
                                                   <div class="" style="width: 400px; margin-right: 15px; display: inline-block;">
                                                       <div class="input-group">
                                                           <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                                                           <input type="text" class="form-control" id='FieldFilter' placeholder="جست و جو..." style="direction: rtl">
                                                           <span class="input-group-btn">
                                                               <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                                                           </span>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                        </text>);
                  })
                  .AllowCopy(true)
                  .Selectable()
                  .Scrollable()
                  .HtmlAttributes(new {style = "height:500px;"})
                  .DataSource(dataSource => dataSource
                      .Ajax().Sort(x=>x.Add(a=>a.ValidFrom).Descending())
                      .PageSize(20).Read(read => read.Action("GetHistoricalCustodianSettings", "CustodianSetting"))
                  )
                  .Resizable(resize => resize.Columns(true))
                  .Reorderable(reorder => reorder.Columns(true)))

        </div>
    </div>

</div>




<style type="text/css">
    .form-horizontal .form-group {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .form-group-material > .control-label {
        opacity: 1 !important;
        filter: alpha(opacity=0);
    }
</style>
<script type="text/javascript" src="~/assets/js/pages/form_validation.js"></script>
<script type="text/javascript" src="~/assets/js/plugins/forms/inputs/formatter.min.js"></script>
<script>
    function CustodianOnAdditionalData() {
        return {
            text: $("#Custodian").val()
        };
    }


    $("#addCustodianSetting").click(function() {

        if ($("#CustodianSettingForm").valid() === false || $("#CustodianSettingForm").kendoValidator().data("kendoValidator").validate() === false) {
            return;
        } else {

            debugger;
            // var datass = @Html.Raw(Json.Encode(Model));

            var data = {
                "Custodian": $('#Custodian').data("kendoMultiSelect").dataItems()[0],
                "CustodianFromDate": $('#CustodianFromDate').val(),
                "CustodianToDate": $('#CustodianToDate').val(),
                "CustodianMinFeeValue": $('#CustodianMinFeeValue').val(),
                "CustodianMaxFeeValue": $('#CustodianMaxFeeValue').val(),
                "CustodianFeeTax": $('#CustodianFeeTax').val(),
                "CustodianFeeToll": $('#CustodianFeeToll').val(),
                "YearlyFeeFactorOnNetAsset": $('#YearlyFeeFactorOnNetAsset').val(),
                "YearlyFixedFeeValue": $('#YearlyFixedFeeValue').val()
            };


 



            $.ajax({
                url: '@Url.Action("SaveSetting", "CustodianSetting")',
                type: "POST",
                dataType: "json",

                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                401: function() {
                    var url = '@Url.Action("Login", "Account")';
                    window.location.href = url;
                },
                error: function(response) {

                    showNotification(response.Message, 'e');
                },

                success: function(response) {

                    if (response != null && response.BRuleCode == '1000') {
                        showNotification(response.Message, 's');
                        $(':input', '#CustodianSettingForm')
                            .not(':button, :submit, :reset, :hidden')
                            .val('')
                            .removeAttr('checked')
                            .removeAttr('selected');
                        $('#CustodianSettingGrid').data('kendoGrid').dataSource.read();

                    } else {
                        showNotification(response.Message, 'e');

                    }
                }
            });
        }
    });

    function showDetails2(e) {
        e.preventDefault();
        $("#fielsSet4").removeAttr('disabled');

    }

    function GridonChenge4(e) {
        debugger;

        $("#fielsSet4").attr('disabled', 'disabled');
        var grid = $("#CustodianSettingGrid").data("kendoGrid");
        var dataItem = grid.dataItem(grid.select());

       
       
       
        $('#Custodian').data("kendoMultiSelect").value([dataItem.Custodian.NationalId]);
        //$('#Custodian').data("kendoAutoComplete").value(dataItem.Custodian.FullName);

        //$('#Custodian').data("kendoAutoComplete").search(dataItem.Custodian.FullName);
        //setTimeout(function () {
        //    $('#Custodian').data("kendoAutoComplete").select(0);

        //}, 1000);
        //setTimeout(function () {
        //    $('#Custodian').data("kendoAutoComplete").close();

        //}, 500)
        $('#CustodianFromDate').val(dataItem.CustodianFromDate);
        $('#CustodianToDate').val(dataItem.CustodianToDate);
        $('#CustodianMinFeeValue').val(dataItem.CustodianMinFeeValue);
        $('#CustodianMaxFeeValue').val(dataItem.CustodianMaxFeeValue);
        $('#CustodianFeeTax').val(dataItem.CustodianFeeTax);
        $('#CustodianFeeToll').val(dataItem.CustodianFeeToll);
        $('#YearlyFeeFactorOnNetAsset').val(dataItem.YearlyFeeFactorOnNetAsset);
        $('#YearlyFixedFeeValue').val(dataItem.YearlyFixedFeeValue);


    }
</script>

