@Html.Partial("_RegisterLastVersionOfKendo")
@using Kendo.Mvc.UI
@using Pikad.Framework.Infra.Utility
@using IranMarketer.Domain.DTO
@using IranMarketer.Domain.Entity
@model IranMarketer.Domain.DTO.VoucherDetail

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "مشاهده سند";
}
<div>
    <div class="panel-heading">
        <h5 class="panel-title">مشاهده سند</h5>

    </div>
    <div class="panel panel-flat" style="font-size: 12px">
        <div class="panel-heading">
            <h5 class="panel-title">اطلاعات کلی سند</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>

                </ul>
            </div>
        </div>

        <div class="panel-body">
            <div class="form-group">
                
                <label class="col-md-2">شرح سند</label>
                <label class="col-md-10 label border-left-success label-striped">@Model.VoucherDescription</label>
            </div>
            <div class="form-group">
                
                <label class="col-md-2">شماره سند</label>
                <label class="col-md-2 label border-left-success label-striped">@Model.VoucherMasterTempNumber</label>
                <label class="col-md-2">شماره سیستمی سند</label>
                <label class="col-md-2 label border-left-success label-striped" id="vid">@Model.VoucherMasterId</label>
                <label class="col-md-2">شعبه</label>
                <label class="col-md-2 label border-left-success label-striped">@Model.BranchName</label>
                <input type="hidden" id="fid" value="@Model.FiscalYeardId"/>
            </div>
            <div class="form-group">
                <label class="col-md-2">نوع ثبت</label>
                <label class="col-md-2 label border-left-success label-striped">@Model.VoucherInsertModeTitle</label>
                <label class="col-md-2">تاریخ سند</label>
                <label class="col-md-2 label border-left-success label-striped">@Model.VoucherMasterDateJalali</label>
                <label class="col-md-2">وضعیت</label>
                <label class="col-md-2 label border-left-success label-striped">@Model.VoucherMasterStateTitle</label>
            </div>
            <div class="form-group form-group-material">
                <label class="col-md-2">نوع</label>
                <label class="col-md-2 label border-left-success label-striped">@Model.VoucherMasterCategoryTitle</label>
            </div>

            @*<div class="text-right">
                    <button type="button" id="search" class="btn btn-primary">جست و جو <i class="icon-arrow-left13 position-right"></i></button>
                </div>*@
        </div>
    </div>

    <div class="panel panel-body" style="min-height: 680px;font-size: 12px">
        <div class="k-rtl">
            @(Html.Kendo().Grid<IranMarketer.Domain.DTO.VoucherDetail>()
                  .Name("grid")
                  .Columns(column =>
                  {
                      column.Bound(x => x.RowNumber).Title("ردیف سند").Width(30);
                      column.Bound(x => x.SubsidiaryLedgerCode).Title("حساب معین").Width(70);
                      column.Bound(x => x.DetailLedgerCode).Title("حساب تفصیلی").Width(70);
                      column.Bound(x => x.Description).Title("شرح ردیف").Width(240);
                      column.Bound(x => x.Debit).Title("بدهکار").Width(70).Format("{0:n0}");
                      column.Bound(x => x.Credit).Title("بستانکار").Width(70).Format("{0:n0}");

                  })
                  .ToolBar(x =>
                  {
                      x.Excel().Text("Excel");
                  })
                  .Excel(excel => excel
                      .FileName("VoucherDetailsExcelReport.xlsx")
                      .Filterable(true)
                      .AllPages(true)

                      .ForceProxy(true)

                      .AllPages(true)
                      .ProxyURL(Url.Action("CustomExcelReport", "Voucher"))
                  )
                  .Sortable(sortable => sortable.AllowUnsort(false))

                  .Pageable(pager => pager
                      .Input(true)
                      .Numeric(true)
                      .Info(true)
                      .PreviousNext(true)
                      .Refresh(true)
                      .PageSizes(new[] { 100, 150, 200, 250 }))

                  .AllowCopy(true)
                  .Selectable()
                  .Scrollable()
                  .AutoBind(false)
                  .HtmlAttributes(new { style = "height:610px;" })
                  .DataSource(dataSource =>
                      dataSource.Custom()
                          .Type("aspnetmvc-ajax")
                          .PageSize(100)
                          .ServerPaging(true)
                          .ServerSorting(true)
                          .ServerFiltering(true)
                          .Transport(transport => transport
                              .Read(read => read.Action("GetFlatVoucherDetails", "Voucher", new { vid = @Model.VoucherMasterId, fid = @Model.FiscalYeardId }).Type(HttpVerbs.Post))
                          )
                          .Schema(s => s.Data("Result").Total("TotalRecords"))
                          .PageSize(50)
                          .ServerPaging(true)
                          .ServerSorting(true)
                          .ServerFiltering(true)
                  )

                  .Resizable(resize => resize.Columns(true))
                  .Reorderable(reorder => reorder.Columns(true)))

        </div>
    </div>
</div>

<style>
    .label {
        font-size: 100% !important;
    }
</style>

<script>
    $(document).ready(function () {


        $("#grid").data("kendoGrid").dataSource.read();
    });

    function filterData() {

        var data = {
            FiscalYearId: $("#fid").val(),
            VoucherMasterId: $("#vid").val()

        }

        return { model: data };
    }

    //function onadditionalData1() {
    //    return {
    //        text: $('[name="BranchId_input"]').val()
    //    };
    //}


    //function filterData() {

    //    var data = {

    //        VoucherNumber: $("#VoucherNumber").val(),
    //        VoucherMasterId: $("#voucherid").val(),
    //        BranchId: $("#BranchId").data("kendoComboBox").dataItem() != null ? $("#BranchId").data("kendoComboBox").dataItem().BranchValue : "-1",
    //        //BranchId: "-1",
    //        FromDate: $("#FromDate").val(),
    //        ToDate: $("#ToDate").val()
    //    }

    //    return { model: data };
    //}
    $("#search").click(function () {

        $("#grid").data("kendoGrid").dataSource.read();

    });

</script>