@Html.Partial("_RegisterLastVersionOfKendo")
@using Kendo.Mvc.UI
@using IranMarketer.App.Component.Model
@model SubscriptionRequestModel
@{
    ViewBag.Title = "درخواست ابطال";
}
<style>
    .myPanel {
        height: 7em !important;
    }
</style>

<div class="k-rtl">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">درخواست ابطال</h5>
                </div>
                <div class="panel-body">
                    <form role="form" id="RedemptionRequestform" novalidate class="form-horizontal form-validate-jquery" action="@Url.Action("RegisterSubscriptionRequest", "Requests")" method="POST">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-group-material">
                                    <label class="display-block text-semibold">انتخاب مشتری</label>
                                    @(Html.Kendo().AutoComplete().Name("PartyName")
                          .DataTextField("FullName")
                          .Filter(FilterType.Contains)
                          .MinLength(3)
                          .HtmlAttributes(new
                          {
                              style = "width:630px;",
                            @*required = "required",
                                data_required_msg = "اطلاعات مشتری الزامی است",*@
                          })
                          .HeaderTemplate("<div style=\"width:630px !important;\" class=\"dropdown-header\">" +
                                          "<span style=\"width:290px;\" class=\"k-widget k-header\" >عنوان</span>" +
                                          "<span class=\"k-widget k-header\" >کد ملی</span>" +
                                          "<span class=\"k-widget k-header\" >نام پدر</span>" +
                                          "</div>")
                          .Template("<div  class=\"dropdown-header\">" +
                                    "<span style=\"width:290px;\" class=\"k-state-default\">#: data.FullName #</span>" +
                                    "<span class=\"k-state-default\">#: data.NationalId #</span>" +
                                    "<span class=\"k-state-default\">#: data.FatherName #</span>" +
                                    "</div>").HtmlAttributes(new { style = "width:630px;" })
                          .Placeholder("جستجوی مشتری بر اساس نام و نام خانوادگی و کد ملی")
                          .DataSource(source =>
                          {
                              source
                                  .Custom()
                                  .ServerFiltering(true)
                                  .ServerPaging(true)
                                  .PageSize(100)
                                  .Type("aspnetmvc-ajax")
                                  .Transport(t =>
                                  {
                                      t.Read(r =>
                                      {
                                          r.Action("GetCustomerAutoCompleteFilter", "Party").Data("onAdditionalData");
                                      });
                                  })
                                  .Schema(s =>
                                  {
                                      s.Data("Data").Total("Total");
                                  });
                              ;

                          })
                          .Events(e =>
                          {
                              e.Change("onSelect").Select("onSelect");
                          })
                          .Virtual(v => v.ItemHeight(26))
                                    )
                                    <input type="hidden" id="PartyId" name="PartyId" data-bind="value: getPartyId" />
                                    @*<span class="text-danger">*</span>*@
                                </div>
                            </div>


        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>تاریخ درخواست</label>
                    @Html.Kendo().DatePickerFor(x => x.Date).HtmlAttributes(new { style = "width:250px", type = "text",required="required" }).Format("yyyy/MM/dd")
                </div>
            </div>
        </div>

                        <div class="row">
                
                            <div class="panel bg-teal-400 col-md-3 myPanel">
                                <div class="panel-body">
                                    کد ملی/شناسه ملی    
                                    <h6 class="no-margin"><span id="customenationalid"></span></h6>
                                </div>
                     
                            </div>
                            <div class="panel bg-teal-400 col-md-3 myPanel">
                                <div class="panel-body">
                                    نام   
                                    <h6 class="no-margin"><span id="customedfullname"></span></h6>
                                </div>
                     
                            </div>
                    
                            <div id="fatherPanel" class="panel bg-teal-400  col-md-3 myPanel">
                                <div class="panel-body">
                                    نام پدر 
                                    <h6 class="no-margin"><span id="fathername"></span></h6>
                                            
                                </div>
                            </div>
                            
                            <div class="panel bg-teal-400  col-md-3 myPanel">
                                <div class="panel-body">
                                    تاریخ تولد/ثبت  
                                    <h6 class="no-margin"><span id="Birth"></span></h6>
                                </div>
                            </div>


                        </div>
                        <div class="row">
                
                            <div class="panel .bg-slate col-md-3">
                                <div class="panel-body">
                              
                                    <h6 class="no-margin"><span id="RemainVolume"></span></h6>
                                    تعداد کل واحدها
                                </div>
                     
                            </div>
                            <div class="panel .bg-slate col-md-3">
                                <div class="panel-body">
                              
                                    <h6 class="no-margin"><span id="UnitWatingForRedemtion"></span></h6>
                                    تعداد واحد های در انتظار تایید ابطال                                 </div>
                     
                            </div>
                    
                            <div class="panel .bg-slate  col-md-3">
                                <div class="panel-body">
                              
                                    <h6 class="no-margin"><span id="otherBannedUnit"></span></h6>
                                    تعداد واحد های وثیقه شده                     
                                </div>
                            </div>
                            
                            <div class="panel .bg-slate  col-md-3">
                                <div class="panel-body">
                              
                                    <h6 class="no-margin"><span id="RedemtionebleUnits"></span></h6>
                                    تعداد واحد های قابل ابطال             
                                </div>
                            </div>


                        </div>


                        
        <fieldset id="DividendAccount">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="display-block text-semibold">تعداد درخواست ابطال</label>
                        @Html.TextBox("Volume",null,new {@class = "form-control", required="required"})
                        <span class="text-danger">*</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="display-block text-semibold">حساب مشتری</label>
                        <input readonly="readonly" type="text" class="form-control " id="partyAccount"  />
                    </div>
                </div>
            </div>
                     
                            

                        </fieldset>
                        <div class="form-group" id="taxFee">
                            <label>دریافت کارمزد</label>
                            <input type="checkbox" name="ConsiderTaxAndToll" id="ConsiderTaxAndToll" />
                        </div>


                        <div class="text-right">
                            <button type="button" id="btnFormSubs" class="btn btn-primary">ذخیره <i class="icon-arrow-left13 position-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .label {
        font-size: 100% !important;
    }

    .form-horizontal .form-group {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .form-group-material > .control-label {
        opacity: 1 !important;
        filter: alpha(opacity=0);
    }


    .dropdown-header {
        /*font-size: 1.2em;*/
        padding: 0px 0px;
        text-align: right;
    }

    .dropdown-header > span {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: right;
        display: inline-block;
        border-style: solid;
        border-width: 0 0 1px 1px;
        padding: .3em .6em;
        width: 150px;
    }

    .dropdown-header > span:first-child {
        width: 150px;
        border-left-width: 0;
    }
</style>
<script type="text/javascript" src="~/assets/js/pages/form_validation.js"></script>
<script type="text/javascript" src="~/assets/js/plugins/forms/inputs/formatter.min.js"></script>
<script>
    $(document).ready(function () {



        jQuery.extend(jQuery.validator.messages, {
            max: jQuery.validator.format("لطفا یک عدد کوچک تر و یا مساوی {0} وارد کنید"),


        });


        $.ajax({
            url: "/AllOtherExpensesSetting/IsConsiderFixedFeeForRedemption",
            type: "POST",
            dataType: "json",
            // data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            401: function() {
                var url = '@Url.Action("Login", "Account")';
                window.location.href = url;
            },
            error: function(response) {

               // showNotification(response.Message, 'e');
            },

            success: function(response) {

                if (response != null && response.BRuleCode == '1000') {
                    if (response.Result == true) {
                        $("#taxFee").show();
                    } else {
                        $("#taxFee").hide();

                    }

                } else {
                 //   showNotification(response.Message, 'e');
                }
            }
        });






    });

    function onAdditionalData() {
        return {
            text: $('[name="CustomerCode"]').val()
        };
    }

    function onClose() {

    }

    function onSelect(e) {
        var dataItem = $('#PartyName').data("kendoAutoComplete").dataItem();
        if (dataItem != null)
        {


            var p = $('[name="PartyId"]');
            $(p).val(dataItem.Id);
            $("#customedfullname").text( dataItem.FullName);
            $("#customenationalid").text( dataItem.NationalId);
                $("#fathername").text( dataItem.FatherName);
      
            $("#Birth").text(dataItem.BirthDateJalali != "" ? dataItem.BirthDateJalali :dataItem.RegisterDateJalali);

            $("#RemainVolume").text("");
            $("#UnitWatingForRedemtion").text("");
            $("#otherBannedUnit").text("");
            $("#RedemtionebleUnits").text("");

            $.ajax({
                url: "/Requests/GetCustomerDatailsForRedemption?id=" + dataItem.Id + "&nationalId=" + dataItem.NationalId,
                type: "POST",
                dataType: "json",
                // data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                401: function() {
                    var url = '@Url.Action("Login", "Account")';
                    window.location.href = url;
                },
                error: function(response) {

                    $("#RemainVolume").text("");
                    $("#UnitWatingForRedemtion").text("");
                    $("#otherBannedUnit").text("");
                    $("#RedemtionebleUnits").text("");
                },

                success: function(response) {

                    if (response != null && response.BRuleCode == '1000') {
                        $("#RemainVolume").text(response.Result.RemainVolume);
                        $("#UnitWatingForRedemtion").text("0");
                        $("#otherBannedUnit").text("0");
                        $("#RedemtionebleUnits").text(response.Result.RemainVolume);



                    } else {
                        $("#RemainVolume").text("");
                        $("#UnitWatingForRedemtion").text("");
                        $("#otherBannedUnit").text("");
                        $("#RedemtionebleUnits").text("");
                    }
                }
            });


            $.ajax({
                url: "/PartyAccount/GetDefaultPartyAccount?id=" + dataItem.Id ,
                type: "POST",
                dataType: "json",
                // data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                401: function() {
                    var url = '@Url.Action("Login", "Account")';
                    window.location.href = url;
                },
                error: function(response) {

                  //  showNotification(response.Message, 'e');
                },

                success: function(response) {

                    if (response != null && response.BRuleCode == '1000') {
                        $("#partyAccount").val(response.Result.FullAccountTitle);

                    } else {
                            //showNotification(response.Message, 'e');
                    }
                }
            });



        }
    }

    function onChange() {

    }

    function onFiltering(e) {

    }


    $("#btnFormSubs").hover(function(){
        $("#RedemptionRequestform").valid();
    }, function(){
       // $("#RedemptionRequestform").valid();
    });
    $("#btnFormSubs").click(function() {

        //  $("#RedemptionRequestform").kendoValidator().data("kendoValidator").validate();

    //    $("#RedemptionRequestform").valid();


        var party = $("#PartyName").data("kendoAutoComplete").dataItem();
        var volume = $("#Volume").val(); //BankDeposit

        var date = $("#Date").val();

        if (party == null || date == "" || volume == "" || volume <= 0) {

            if (party == null) {
                showNotification("مشتری انتخاب نشده است", "e");
            }
            return;

        }



        var data = {
            Volume: volume,
            NationalId: party.NationalId,
            IsConsiderFixedFee: $("#ConsiderTaxAndToll").attr('checked'),
            Date:$("#Date").val()
    }

        $.ajax({
            url: '@Url.Action("RegisterRedemptionReques", "Requests")',
            type: "POST",
            dataType: "json",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            401: function() {
                var url = '@Url.Action("Login", "Account")';
                window.location.href = url;
            },
            error: function(response) {

                showNotification(response.Message, 'e');
                $(':input', '#RedemptionRequestform')
                    .not(':button, :submit, :reset, :hidden')
                    .val('')
                    .removeAttr('checked')
                    .removeAttr('selected');
                $('#PartyName').data("kendoAutoComplete").value("");
                $("#customedfullname").text( "");
                $("#customenationalid").text("");
                $("#Birth").text("");
                $("#fathername").text("");
            },

            success: function(response) {

                if (response != null && response.BRuleCode == '1000') {
                    showNotification(response.Message, 's');
                    $(':input', '#RedemptionRequestform')
                        .not(':button, :submit, :reset, :hidden')
                        .val('')
                        .removeAttr('checked')
                        .removeAttr('selected');
                    $('#PartyName').data("kendoAutoComplete").value("");

                    $("#customedfullname").text( "");
                    $("#customenationalid").text("");
                    $("#Birth").text("");
                    $("#fathername").text("");



                } else {
                    showNotification(response.Message, 'e');
                    $(':input', '#RedemptionRequestform')
                        .not(':button, :submit, :reset, :hidden')
                        .val('')
                        .removeAttr('checked')
                        .removeAttr('selected');
                    $('#PartyName').data("kendoAutoComplete").value("");
                    $("#customedfullname").text( "");
                    $("#customenationalid").text("");
                    $("#Birth").text("");
                    $("#fathername").text("");
                }
            }
        });

    });

</script>


@if (@TempData["Success"] != null)
{
    <script>
        $(document).ready(function () {

            showNotification('@TempData["Success"]', 's');
        });
    </script>
}
@if (@TempData["Error"] != null)
{
    <script>

        $(document).ready(function () {
            showNotification('@TempData["Error"]', 'e');

        });
    </script>
}