@Html.Partial("_RegisterLastVersionOfKendo")
@using Kendo.Mvc.Extensions
@using Kendo.Mvc.UI
@using Pikad.Framework.Infra.Utility
@using IranMarketer.App.Component.Model
@using IranMarketer.Domain.Enum
@using RequestTransactionType = IranMarketer.Domain.Enum.RequestTransactionType
@model IranMarketer.Domain.DTO.Request
@{
    ViewBag.Title = "مشاهده درخواست";
}


<div class="k-rtl">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">مشاهده درخواست</h5>
                </div>
                <div class="panel-body">

                    <fieldset class="content-group" disabled="disabled">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-group-material">
                                    <label>مشتری</label>
                                    @Html.TextBoxFor(x => x.PartyFullName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group-material">
                                    <label>کد ملی</label>
                                    @Html.TextBoxFor(x => x.NationalId, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-group-material">
                                    <label>تاریخ درخواست</label>
                                    @Html.TextBoxFor(x => x.DateJalali, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group-material">
                                    <label>تاریخ تایید</label>
                                    @Html.TextBoxFor(x => x.ConfirmationDateJalali, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-group-material">
                                    <label>نوع درخواست</label>
                                    @Html.TextBoxFor(x => x.TransactionTypeTitle, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group-material">
                                </div>
                            </div>
                        </div>
                        @if (Model.TransactionTypeEnum == RequestTransactionType.Redemption)
                        {

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-group-material">
                                        <label>تعداد درخواست ابطال</label>
                                        @if (@Model.Volume > 0)
                                        {
                                            var count = Model.Volume.SafeDecimal();
                                            <input type="text" disabled="disabled" class="form-control" placeholder="تعداد" required="required" id="amount"  value="@count.ToString("#,##0")">
                                            //Html.TextBox(amount.ToString("#,##0.00"), new {@class = "form-control"});
                                        }
                                        else
                                        {
                                            Html.TextBox(0.ToString("#,##0"), new {@class = "form-control"});
                                        }
                                    
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group form-group-material">

                                        <label>شماره حساب مشتری</label>
                                        @Html.TextBoxFor(x => x.CustomerAccountNumber, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>




                        }
                        else if (Model.TransactionTypeEnum == RequestTransactionType.Subscription)
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-group-material">
                                        <label>درخواست صدور از محل</label>
                                        @Html.TextBoxFor(x => x.SettlementTypeTitle, new { @class = "form-control" })
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group form-group-material">
                                        <label>مبلغ درخواست صدور</label>
                                        @if (@Model.Amount > 0)
                                        {
                                            var amount = Model.Amount.SafeDecimal();
                                            <input type="text" disabled="disabled" class="form-control" placeholder="مبلغ" required="required" id="amount"  value="@amount.ToString("#,##0")">
                                            //Html.TextBox(amount.ToString("#,##0.00"), new {@class = "form-control"});
                                        }
                                        else
                                        {
                                            Html.TextBox(0.ToString("#,##0"), new {@class = "form-control"});
                                        }
                                      
                                    </div>
                                </div>
                            </div>
                            if (Model.SettlementTypeEnum != null && RequestSettlementType.BankDeposit == (RequestSettlementType)Model.SettlementTypeEnum)
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-group-material">
                                            <label>  شماره فیش واریزی</label>
                                            @Html.TextBoxFor(x => x.DepositTranckigNumber, new { @class = "form-control" })
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="form-group form-group-material">
                                            <label>حساب محل واریز</label>
                                            @Html.TextBoxFor(x => x.AccountNumber, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .form-horizontal .form-group {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .form-group-material > .control-label {
        opacity: 1 !important;
        filter: alpha(opacity=0);
    }
</style>
