@using Kendo.Mvc.UI
@using IranMarketer.Domain.Entity
@model Industry
<form id="IndusryForm">
    <div class="panel panel-flat">
        <div class="panel-body" style="display: block;">
            <fieldset id="IndustryFieldSet">
                <div class="form-group">
                    <label class="display-block text-semibold" >نام فارسی صنعت</label>
                    @*<input type="number" min="0" class="form-control" placeholder="حق الزحمه حسابرسی" id="AuditorFee" data-bind="value: AuditorFee">*@
                    @Html.Kendo().TextBoxFor(x=>x.TitleFa).HtmlAttributes(new { required = "required" })

                </div>
                <div class="form-group">
                    <label class="display-block text-semibold">نام انگلیسی صنعت</label>
                    @Html.Kendo().TextBoxFor(x => x.TitleEn).HtmlAttributes(new { required = "required" })

                </div>`
            </fieldset>

            <div class="text-right">
                <button id="addIndusrty" type="button" class="btn btn-primary legitRipple">ذخیره<i class="icon-arrow-left13 position-right"></i></button>
            </div>
        </div>
    </div>

</form>

<div class="panel panel-flat panel-collapsed">
    <div class="panel-heading">
        <h5 class="panel-title">تمام صنایع<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="reload"></a></li>
                <li><a data-action="close"></a></li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <div class="k-rtl">
            @(Html.Kendo().Grid<Industry>().Mobile(MobileMode.Auto)
                  .Name("IndustryGrid")

                  .Columns(column =>
                  {


                      column.Bound(x => x.TitleFa).Title("نام فارسی").Width(150);
                      column.Bound(x => x.TitleEn).Title("نام انگلیسی").Width(150);
                      column.Bound(x => x.CreatedJalali).Title("تاریخ ایجاد");
                      column.Bound(x => x.CreatedBy).Title("ایجاد کننده");
                      column.Bound(x => x.ModifiedJalali).Title("تاریخ ویرایش");
                      column.Bound(x => x.CreatedBy).Title("ویرایش کننده");
                      column.Command(command => command.Custom("ویرایش").Click("IndustryGridshowDetails")).Width(180);


                  })
                  .Excel(excel => excel
                      .FileName("Industry.xlsx")
                      .Filterable(true)
                      .AllPages(true)

                      .ForceProxy(true)

                      .AllPages(true)
                      .ProxyURL(Url.Action("CustomExcelReport", "AdminPanel"))
                  )
                  .Sortable(sortable => sortable.AllowUnsort(false))
                  .Pageable(pageable => pageable
                      .Refresh(true)
                      .PageSizes(true)
                      .ButtonCount(5))
                      .Selectable(x =>
                      {
                          x.Enabled(true).Mode(GridSelectionMode.Single).Type(GridSelectionType.Row);
                      })//.Events(c => c.Change("AuditorSettingGridonChenge"))
                  .ToolBar(toolbar =>
                  {
                      toolbar.Template(@<text>
                                           <div class="row toolbar" style="direction: rtl !important;">

                                               <div class="pull-left ">
                                                   <div class="col-xs-6" style="display: inline-block;">
                                                       <a class="pull-left k-button k-button-icontext k-grid-excel" href="#"><span class="k-icon k-i-excel"></span>Excel</a>
                                                   </div>
                                                   <div class="col-xs-6" style=" display: inline-block;">
                                                       <div class="input-group">
                                                           <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                                                           <input type="text" class="form-control" id='FieldFilter' placeholder="جست و جو..." style="direction: rtl">
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                        </text>);
                  })
                  .AllowCopy(true)
                  .Selectable()
                  .HtmlAttributes(new { style = "height:500px;" })
                  .DataSource(dataSource => dataSource
                      .Ajax().ServerOperation(false).Sort(x => x.Add(a => a.TitleFa).Descending())
                      .PageSize(20).Read(read => read.Action("GetIndustries", "AdminPanel"))
                  )
                  //.Resizable(resize => resize.Columns(true))
                  .Scrollable()
                  .Reorderable(reorder => reorder.Columns(true)))

        </div>
    </div>

</div>


<style type="text/css">
    .form-horizontal .form-group {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .form-group-material > .control-label {
        opacity: 1 !important;
        filter: alpha(opacity=0);
    }
</style>
<script type="text/javascript" src="~/assets/js/pages/form_validation.js"></script>
<script type="text/javascript" src="~/assets/js/plugins/forms/inputs/formatter.min.js"></script>
<script>
    $("#addIndusrty").click(function() {

        if (!$("#IndusryForm").valid()) {
            return;
        } else {

            debugger;
            var dataa = @Html.Raw(Json.Encode(Model));

            var data = {
                "Auditor": $('#Auditor').data("kendoMultiSelect").dataItems()[0],
                "AuditorFromDate": $('#AuditorFromDate').val(),
                "AuditorToDate": $('#AuditorToDate').val(),
                "AuditorFee": $('#AuditorFee').val(),
                "AuditorFeeTax": $('#AuditorFeeTax').val(),
                "AuditorFeeToll": $('#AuditorFeeToll').val(),

            };




            $.ajax({
                url: '@Url.Action("SaveSetting", "AuditorSetting")',
                type: "POST",
                dataType: "json",

                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                401: function() {
                    var url = '@Url.Action("Login", "Account")';
                    window.location.href = url;
                },
                error: function(response) {

                    showNotification(response.Message, 'e');
                },

                success: function(response) {

                    if (response != null && response.BRuleCode == '1000') {
                        showNotification(response.Message, 's');
                        $(':input', '#AuditorSettingForm')
                            .not(':button, :submit, :reset, :hidden')
                            .val('')
                            .removeAttr('checked')
                            .removeAttr('selected');
                        $('#AuditorSettingGrid').data('kendoGrid').dataSource.read();

                    } else {
                        showNotification(response.Message, 'e');

                    }
                }
            });
        }
    });

    function AuditorSettingGridshowDetails(e) {
        e.preventDefault();
        $("#fielsSet7").removeAttr('disabled');

    }

    function IndustryGridshowDetails(e) {
        debugger;
        var grid = $("#IndustryGrid").data("kendoGrid");
        var dataItem = grid.dataItem(grid.select());
        //  }, 500);
        //$('#Auditor').data("kendoMultiSelect").value([dataItem.Auditor.NationalId]);


        //$('#AuditorFromDate').val(dataItem.AuditorFromDate);
        //$('#AuditorToDate').val(dataItem.AuditorToDate);
        //$('#AuditorFee').val(dataItem.AuditorFee);
        //$('#AuditorFeeTax').val(dataItem.AuditorFeeTax);
        //$('#AuditorFeeToll').val(dataItem.AuditorFeeToll);
    }
    function AuditorSettingOnAdditionalData1() {
        return {
            text: $("#Auditor").val()
        };
    }
</script>


