@Html.Partial("_RegisterLastVersionOfKendo")
@using Kendo.Mvc.UI
@using IranMarketer.App.Component.Model
@model BankDepositProfitModel
@{
    ViewBag.Title = "دریافت سود سپرده بانکی";
}

<div class="k-rtl">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">دریافت سود سپرده بانکی</h5>
                </div>
                <div class="panel-body">
                    <form role="form" id="bankdepositprofitform" novalidate class="form-horizontal form-validate-jquery" action="@Url.Action("SaveBankDepositProfit", "CashFlow")" method="POST" onsubmit="return false;">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="display-block text-semibold">حساب بانکی مبدا</label>
                                    @(Html.Kendo().ComboBox().Name("BankDepositId")

                                              .DataTextField("FullBankName").Placeholder("انتخاب حساب بانکی مبدا")
                                              .DataValueField("Id")
                                              .HtmlAttributes(new
                                              {
                                                  style = "width:400px;margin-right: 1px;",
                                                  data_required_msg = "انتخاب حساب بانکی مبداالزامی است",
                                                  required = "required"
                                              })

                                              .Filter("contains")
                                              .AutoBind(true)
                                              .MinLength(3)
                                              .DataSource(
                                                  source => source.Read(read => read.Action("GetActiveBankDepositsForReqeust", "BankDeposit")
                                                      .Data("onAdditionalData")
                                                      ).ServerFiltering(false))
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class="display-block text-semibold">تاریخ</label>
                                <div class="col-md-12">
                                    @Html.Kendo().DatePickerFor(x => x.Date).HtmlAttributes(new { style = "width:250px;margin-right:1px", type = "text", required = "required", data_required_msg = "تاریخ الزامی است" }).Format("yyyy/MM/dd").Value(ViewBag.Now)
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="display-block text-semibold">مبلغ</label>
                                    @Html.TextBox("amount", null, new { @class = "form-control mask", required = "required" })
                                    <span class="text-danger">*</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="display-block">شرح</label>
                                    @Html.TextAreaFor(o => o.Description, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="text-right">
                            <button type="button" id="btnFormSubs" class="btn btn-primary">ذخیره <i class="icon-arrow-left13 position-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    #Date-error {
        display: table-cell;
    }

    .label {
        font-size: 100% !important;
    }

    .form-horizontal .form-group {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .form-group-material > .control-label {
        opacity: 1 !important;
        filter: alpha(opacity=0);
    }


    .dropdown-header {
        /*font-size: 1.2em;*/
        padding: 0px 0px;
        text-align: right;
    }

        .dropdown-header > span {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            text-align: right;
            display: inline-block;
            border-style: solid;
            border-width: 0 0 1px 1px;
            padding: .3em .6em;
            width: 150px;
        }

            .dropdown-header > span:first-child {
                width: 150px;
                border-left-width: 0;
            }
</style>
<script type="text/javascript" src="~/assets/js/pages/form_validation.js"></script>
<script type="text/javascript" src="~/assets/js/plugins/forms/inputs/formatter.min.js"></script>
<script>
    $(document).ready(function () {
    });

    function onAdditionalData() {
        return {
            text: $('[name="CustomerCode"]').val()
        };
    }

    $("#btnFormSubs").click(function() {

        $("#bankdepositprofitform").valid();

        var desc = $('#Description').val();
        var amount = $("#amount").cleanVal(); //TransferAmount
        var date = $("#Date").val();
        var bankDepositFrom = $("#BankDepositId").data("kendoComboBox").dataItem();

        var data= {
            Date: date,
            Amount: amount,
            BankDepositAccountNumber: bankDepositFrom.AccountNumber,
            BankDepositId: bankDepositFrom.Id,
            Description: desc
        }

        $.ajax({
            url: '@Url.Action("SaveBankDepositProfit", "CashFlow")',
            type: "POST",
            dataType: "json",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            401: function() {
                var url = '@Url.Action("Login", "Account")';
                window.location.href = url;
            },
            error: function(response) {

                showNotification(response.Message, 'e');
            },

            success: function(response) {

                if (response != null && response.BRuleCode == '1000') {
                    showNotification(response.Message, 's');
                    $(':input', '#bankdepositprofitform')
                        .not(':button, :submit, :reset, :hidden')
                        .val('')
                        .removeAttr('checked')
                        .removeAttr('selected');

                } else {
                    showNotification(response.Message, 'e');
                }
            }
        });

    });

</script>

@if (@TempData["Success"] != null)
{
    <script>
        $(document).ready(function () {

            showNotification('@TempData["Success"]', 's');
        });
    </script>
}
@if (@TempData["Error"] != null)
{
    <script>

        $(document).ready(function () {
            showNotification('@TempData["Error"]', 'e');

        });
    </script>
}