@Html.Partial("_RegisterLastVersionOfKendo")
@using Kendo.Mvc.UI
@using Pikad.Framework.Infra.Utility
@using IranMarketer.Domain.DTO
@using IranMarketer.Domain.Entity

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "فهرست دریافت و پرداخت";
}
<div>
    <div class="panel-heading">
        <h5 class="panel-title">فهرست دریافت و پرداخت</h5>

    </div>
    <div id="filterPanel" class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">فیلتر جستجو</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>

                </ul>
            </div>
        </div>

        <div class="panel-body">
            <div class="k-rtl">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>نوع تراکنش</label>
                        @(Html.Kendo().DropDownList().Name("TransactionType").HtmlAttributes(new { @class = "form-control k-rtl", style = "width:50%" })
                              .DataTextField("Title")
                              .Filter(FilterType.Contains)
                              .DataValueField("Value")
                              .SelectedIndex(0)
                              .AutoBind(true)
                              .DataSource(source => source.Read(read => read.Action("GetCashFlowTransactionType", "UIComponent", new { addAll = true })).ServerFiltering(false)))
                    </div>
                    <div class="form-group col-md-6">
                        <label>وضعیت تراکنش</label>
                        @(Html.Kendo().DropDownList().Name("TransactionState").HtmlAttributes(new { @class = "form-control k-rtl", style = "width:50%" })
                              .DataTextField("Title")
                              .Filter(FilterType.Contains)
                              .DataValueField("Value")
                              .SelectedIndex(0)
                              .AutoBind(true)
                              .DataSource(source => source.Read(read => read.Action("GetCashFlowTransactionState", "UIComponent", new { addAll = true })).ServerFiltering(false)))
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>علت تراکنش</label>
                        @(Html.Kendo().DropDownList().Name("Category").HtmlAttributes(new { @class = "form-control k-rtl", style = "width:50%" })
                              .DataTextField("Title")
                              .Filter(FilterType.Contains)
                              .DataValueField("Value")
                              .SelectedIndex(0)
                              .AutoBind(true)
                              .DataSource(source => source.Read(read => read.Action("GetCashFlowTransactionCategory", "UIComponent", new { addAll = true })).ServerFiltering(false)))
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>تاریخ از</label>
                        @Html.Kendo().DatePicker().Name("FromDate").Value(DateTime.Now.AddDays(-14).ConvertMiladiToJalali()).HtmlAttributes(new { style = "width:250px", type = "text" }).Format("yyyy/MM/dd")
                        <span class="text-danger">*</span>
                    </div>
                    <div class="form-group col-md-6">
                        <label>تاریخ تا</label>
                        @Html.Kendo().DatePicker().Name("ToDate").Value(DateTime.Now.ConvertMiladiToJalali()).HtmlAttributes(new { style = "width:250px", type = "text" }).Format("yyyy/MM/dd")
                        <span class="text-danger">*</span>
                    </div>
                </div>
                <div class="text-right">
                    <button type="button" id="search" class="btn btn-primary">جست و جو <i class="icon-arrow-left13 position-right"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-body" style="min-height: 680px;font-size: 12px">
        <div class="k-rtl">
            @(Html.Kendo().Grid<IranMarketer.Domain.DTO.CashFlowMaster>()
                  .Name("grid")
                  .Columns(column =>
                  {
                      column.Bound(x => x.VoucherMasterId).ClientTemplate("<a href ='/Voucher/ViewVoucherDetails?vid=${VoucherMasterId}&fid=-1'>${VoucherMasterId}</a>").Title("شماره سند").Width(80);
                      column.Bound(x => x.DateJalali).Title("تاریخ").Width(80);
                      column.Bound(x => x.Description).Title("شرح").Width(260);
                      column.Bound(x => x.Amount).Title("مبلغ").Width(80).Format("{0:n0}");
                      column.Bound(x => x.ChequeNumber).Title("شماره چک").Width(80);
                      column.Bound(x => x.CashFlowCategoryTitle).Title("علت").Width(80);
                      column.Bound(x => x.FromBankDepositAccountNumber).Title("شماره حساب مبدا").Width(110);
                      column.Bound(x => x.ToBankDepositAccountNumber).Title("شماره حساب مقصد").Width(110);
                      column.Bound(x => x.FromDetailLedgerCode).Title("کد تفصیل مبدا").Width(90).Hidden(true);
                      column.Bound(x => x.ToDetailLedgerCode).Title("کد تفصیل مقصد").Width(90).Hidden(true);
                      column.Bound(x => x.FromDetaiLedgerTitle).Title("تفصیل مبدا").Width(90);
                      column.Bound(x => x.ToDetaiLedgerTitle).Title("تفصیل مقصد").Width(90);
                      column.Bound(x => x.FromSubsidiaryLedgerCode).Title("کد معین مبدا").Width(80).Hidden(true);
                      column.Bound(x => x.ToSubsidiaryLedgerCode).Title("کد معین مقصد").Width(80).Hidden(true);
                      column.Bound(x => x.FromSubsidiaryLedgerTitle).Title("عنوان معین مبدا").Width(80).Hidden(true);
                      column.Bound(x => x.ToSubsidiaryLedgerTitle).Title("عنوان معین مقصد").Width(80).Hidden(true);
                      column.Bound(x => x.FromBankDepositBankTitle).Title("بانک مبدا").Width(80).Hidden(true);
                      column.Bound(x => x.ToBankDepositBankTitle).Title("بانک مقصد").Width(80).Hidden(true);
                      column.Bound(x => x.FromBankDepositIBAN).Title("شبای مبدا").Width(90).Hidden(true);
                      column.Bound(x => x.ToBankDepositIBAN).Title("شبای مقصد").Width(90).Hidden(true);
                      column.Bound(x => x.CashFlowStateTitle).Title("وضعیت").Width(80);
                      column.Bound(x => x.ProductSymbol).Title("نماد").Width(80).Hidden(true);
                      column.Bound(x => x.ProductTitle).Title("عنوان نماد").Width(80).Hidden(true);
                      column.Bound(x => x.DueDateJalali).Title("سررسید چک").Width(80).Hidden(true);
                      column.Bound(x => x.CreatedJalali).Title("تاریخ ایجاد").Width(80);
                  })
                  .ToolBar(x =>
                  {
                      x.Excel().Text("Excel");
                  })
                  .Excel(excel => excel
                      .FileName("CashFlowExcelReport.xlsx")
                      .Filterable(true)
                      .AllPages(true)
                      .ForceProxy(true)
                      .AllPages(true)
                      .ProxyURL(Url.Action("CustomExcelReport", "CashFlow"))
                  )
                  .Sortable(sortable => sortable.AllowUnsort(false))
                  .Pageable(pager => pager
                      .Input(true)
                      .Numeric(true)
                      .Info(true)
                      .PreviousNext(true)
                      .Refresh(true)
                      .PageSizes(new[] { 100, 150, 200, 250 }))

                  .AllowCopy(true)
                  .Selectable(x => x.Mode(GridSelectionMode.Multiple))
                  .Scrollable()
                  .ColumnMenu(e =>
                  {
                      e.Columns(true);

                  })
                  .AutoBind(false)
                  .HtmlAttributes(new { style = "height:620px;" })
                  .DataSource(dataSource =>
                      dataSource.Custom()
                          .Type("aspnetmvc-ajax")
                          .PageSize(100)
                          .ServerPaging(true)
                          .ServerSorting(true)
                          .ServerFiltering(true)
                          .Transport(transport => transport
                              .Read(read => read.Action("GetFlatCashFlowMasters", "CashFlow").Data("filterData").Type(HttpVerbs.Post))
                          )
                          .Schema(s => s.Data("Result").Total("TotalRecords"))
                  )

                  .Resizable(resize => resize.Columns(true))
                  .Reorderable(reorder => reorder.Columns(true)))

        </div>
    </div>
</div>
<style type="text/css">
    .form-horizontal .form-group {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .form-group-material > .control-label {
        opacity: 1 !important;
        filter: alpha(opacity=0);
    }


    .dropdown-header {
        /*font-size: 1.2em;*/
        padding: 0px 0px;
        text-align: right;
    }

    .dropdown-header > span {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: right;
        display: inline-block;
        border-style: solid;
        border-width: 0 0 1px 1px;
        padding: .3em .6em;
        width: 150px;
    }

    .dropdown-header > span:first-child {
        width: 150px;
        border-left-width: 0;
    }
</style>

<script>
    $(document).ready(function () {

    });


   

    function onSelect(e) {

        // $("#custometfullname").text(dataItem.FullName);
    }

    function onDataBound(e) {

    }

    function onFiltering() {

    }

    


    function filterData() {

        var data = {

            TransactionType: $("#TransactionType").val(),
            State: $("#TransactionState").val(),
            FromDate: $("#FromDate").val(),
            ToDate: $("#ToDate").val(),
            Category: $("#Category").val()
      
        }
        if (!$('#filterPanel').hasClass('panel-collapsed'))
            $('#filterPanel [data-action=collapse]').click();
        return { model: data };
    }
    $("#search").click(function () {

        $("#grid").data("kendoGrid").dataSource.read();

    });

</script>