@Html.Partial("_RegisterLastVersionOfKendo")
@using Kendo.Mvc.UI
@using IranMarketer.App.Component.Model
@model CustomerModel
@{
    ViewBag.Title = "ویرایش مشتری حقوقی";
}


<div class="k-rtl">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">ویرایش مشتری حقوقی</h5>
                </div>
                <div class="panel-body">
                    <form role="form" id="retailinvestorform" novalidate class="form-horizontal form-validate-jquery" action="@Url.Action("UpdateInstitutionalInvestors", "Party" )" method="POST">
                        @Html.AntiForgeryToken()
                    @Html.HiddenFor(x=>x.Customer.Party.Id);

                        <fieldset class="content-group">
                            <legend class="text-bold">اطلاعات اصلی</legend>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-group-material">
                                        <label>نام شرکت</label>
                                        @Html.TextBoxFor(x => x.Customer.Party.Name, new { @class = "form-control", requierd = "requierd" })

                                        <span class="text-danger">*</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-group-material">
                                        <label>نام انگلیسی شرکت</label>
                                        @Html.TextBoxFor(x => x.Customer.Party.EnName, new { @class = "form-control" })
                                        <span class="text-danger">*</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-group-material">
                                        <label>شماره ثبت</label>
                                        @Html.TextBoxFor(x => x.Customer.Party.IdentityCard, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-group-material">
                                        <label class="control-label">تاریخ ثبت</label>
                                        @Html.Kendo().DatePickerFor(x => x.Customer.Party.RegisterDateJalali).HtmlAttributes(new { style = "width:250px", type = "text" }).Format("yyyy/MM/dd")
                                        <span class="text-danger">*</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-group-material">
                                        <label>شناسه ملی</label>
                                        @Html.TextBoxFor(x => x.Customer.Party.NationalId, new { @class = "form-control", requierd = "requierd" })
                                        <span class="text-danger">*</span>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group form-group-material">
                                        <label>کد اقتصادی</label>
                                        @Html.TextBoxFor(x => x.Customer.Party.EcomomicCode, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-group-material">

                                        <label>محل ثبت</label>
                                        @*  @Html.TextBoxFor(x => x.Customer.Party.RegisterPlace, new { @class = "form-control" })*@
                                        @*<div class="form-group form-group-material">
                                            *@
                                            @(Html.Kendo().ComboBoxFor(model => model.Customer.Contact.RegionId)
                                            //.Name("roles")
                                            .DataTextField("Title").Placeholder("محل ثبت...")
                                            .DataValueField("Id")
                                            .HtmlAttributes(new
                                            {
                                            style = "width:400px;margin-right: 1px;",
                                            data_required_msg = "شهر الزامی است",
                                            required = "required"
                                            })
                                         
                                            .Filter("contains")
                                            .AutoBind(true)
                                            .MinLength(3)
                                            .DataSource(
                                            source => source.Read(read => read.Action("GetCities", "UIComponent")
                                            .Data("onAdditionalData")
                                            ).ServerFiltering(true))
                                            .Enable(!Model.IsEditMode)
                                            )

                                            @*@Html.ValidationMessageFor(m => m.BondDetailDto.ProductDto.Isin, null, new { @class = "  k-tooltip-validation ", style = "" })*@
                                            <input type="hidden" id="regionid" data-bind="value: regionid" name="regionid" value="@Model.Customer.Contact.RegionId">
                                            @*
                                        </div>*@




                                    </div>
                                </div>

                            </div>
                        </fieldset>
                        <fieldset class="content-group">
                            <legend class="text-bold">اطلاعات تماس</legend>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-group-material">
                                        <label>شماره تلفن</label>
                                        @Html.TextBoxFor(x => x.Customer.Contact.HomePhone, new { @class = "form-control" ,require= "require"})
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-group-material">
                                        <label>فکس</label>
                                        @Html.TextBoxFor(x => x.Customer.Contact.Fax, new { @class = "form-control"})
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-group-material">
                                        <label>تلفن همراه</label>
                                        @Html.TextBoxFor(x => x.Customer.Contact.Mobile, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-group-material">
                                        <label>آدرس</label>
                                        @Html.TextBoxFor(x => x.Customer.Contact.HomeAddress, new { @class = "form-control"})
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-group-material">
                                        <div class="form-group">
                                            <label>نام معرف</label>
                                            @Html.TextBoxFor(x => x.Customer.Party.IssuerName, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-group-material">
                                        <div class="form-group">
                                            <label>نوع شرکت</label>
                                            @Html.Kendo().DropDownListFor(x => x.Customer.Party.OrganizationalType
                                            ).DataTextField("OrgenizationTypeTitle").DataValueField("OrgenizationTypeValue").Filter(FilterType.Contains).DataSource(source =>
                                            {
                                            source.Custom()
                                            .ServerFiltering(false)
                                            .ServerPaging(false)
                                            .PageSize(100)
                                            .Type("aspnetmvc-ajax")

                                            .Transport(t =>
                                            {
                                            t.Read(r =>
                                            {
                                            r.Action("GetOrgenizationType", "UIComponent");
                                            });
                                            });
                                            })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="content-group">
                            <legend class="text-bold">حساب بانکی پیش فرض</legend>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>نام بانک</label>

                                    <div class="form-group form-group-material">
                                        @(Html.Kendo().ComboBoxFor(model => model.Customer.PartyBankAccount.BankId)
                                        //.Name("roles")
                                        .DataTextField("Title").Placeholder("انتخاب  بانک ...")
                                        .DataValueField("CodeId")
                                        .HtmlAttributes(new
                                        {
                                        style = "width:400px;margin-right: 1px;",
                                        data_required_msg = "بانک الزامی است",
                                        required = "required"
                                        })

                                        .Filter("contains")
                                        .AutoBind(true)
                                        .MinLength(3)
                                        .DataSource(
                                        source => source.Read(read => read.Action("GetBankNames", "UIComponent")
                                        .Data("onAdditionalDataBankName")
                                        ).ServerFiltering(true))
                                        .Enable(!Model.IsEditMode)
                                        )
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-group-material">
                                        <label>شعبه</label>

                                        @Html.TextBoxFor(x => x.Customer.PartyBankAccount.BranchName, new {@class = "form-control"})
                                        <span class="text-danger">*</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-group-material">
                                        <label>کد شعبه</label>

                                        @Html.TextBoxFor(x => x.Customer.PartyBankAccount.BranchCode, new {@class = "form-control"})
                                        <span class="text-danger">*</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>نوع سپرده </label>

                                    <div class="form-group form-group-material">
                                        @Html.Kendo().DropDownListFor(x => x.Customer.PartyBankAccount.AccountType).DataTextField("Title").DataValueField("Code").Filter(FilterType.Contains).DataSource(source =>
                                        {
                                        source.Custom()
                                        .ServerFiltering(false)
                                        .ServerPaging(false)
                                        .PageSize(100)
                                        .Type("aspnetmvc-ajax")
                                        .Transport(t =>
                                        {
                                        t.Read(r =>
                                        {
                                        r.Action("GetBankAccountTypes", "UIComponent");
                                        });
                                        });
                                        })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-group-material">
                                        <label>شماره حساب</label>

                                        @Html.TextBoxFor(x => x.Customer.PartyBankAccount.AccountNumber, new {required = "required", @class = "form-control"})
                                        <span class="text-danger">*</span>

                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="form-group form-group-material">
                                        <label>شبا</label>

                                        <input type="text" class="form-control" placeholder="IR999999999999999999999999" id="iban" required="required" data-bind="value: customer.partybankaccount.iban" name="Customer.PartyBankAccount.IBAN" value="@Model.Customer.PartyBankAccount.IBAN">
                                        <span class="text-danger">*</span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <div class="text-right">
                            <button type="submit" class="btn btn-primary">ذخیره <i class="icon-arrow-left13 position-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .form-horizontal .form-group {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .form-group-material > .control-label {
        opacity: 1 !important;
        filter: alpha(opacity=0);
    }
</style>
<script type="text/javascript" src="~/assets/js/pages/form_validation.js"></script>
<script type="text/javascript" src="~/assets/js/plugins/forms/inputs/formatter.min.js"></script>
<script>
    $(document).ready(function () {
        $('[name="Customer.PartyBankAccount.IBAN"]').formatter({
            pattern: 'IR{{999999999999999999999999}}'
        });


    });
    function onAdditionalData() {
        return {
            text: $('[name="Customer.Contact.RegionId_input"]').val()
        };
    }
    function onAdditionalDataBankName() {
        return {
            text: $('[name="Customer.PartyBankAccount.BankId_input"]').val()
        };
    }

</script>



@if (@TempData["Success"] != null)
{
<script>
    $(document).ready(function () {

        showNotification('@TempData["Success"]', 's');


    });
</script>
}
@if (@TempData["Error"] != null)
{
<script>

    $(document).ready(function () {
        showNotification('@TempData["Error"]', 'e');

    });
</script>
}