@Html.Partial("_RegisterLastVersionOfKendo")
@using IranMarketer.Domain.Entity
@model JobPost
@using Kendo.Mvc.UI
@using JobPost = IranMarketer.Domain.DTO.JobPost


@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "ویرایش اطلاعات کارفرما";
}
<script type="text/javascript" src="~/assets/js/core/libraries/jquery_ui/core.min.js"></script>
<script type="text/javascript" src="~/assets/js/plugins/forms/selects/select2.min.js"></script>
<script type="text/javascript" src="~/assets/js/plugins/forms/styling/uniform.min.js"></script>
<script type="text/javascript" src="~/assets/js/pages/form_validation.js"></script>
<script type="text/javascript" src="~/assets/js/plugins/forms/inputs/formatter.min.js"></script>

<div>

    <div id="filterPanel" class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">ویرایش اطلاعات کارفرما</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>

                </ul>
            </div>
        </div>
        <div class="panel panel-white">
            <div class="panel-heading">
                <h6 class="panel-title"><a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                        <li><a data-action="reload"></a></li>
                        <li><a data-action="close"></a></li>
                    </ul>
                </div>
            </div>
            
            <div id="jobSearchFilter">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>شهر</label>
                            @(Html.Kendo().ComboBoxFor(x => x.City).HtmlAttributes(new { @class = " form-control ui-wizard-content", style = " width:100%;", required = "required" })
                          .DataTextField("Title")
                          .DataValueField("Id").Filter(FilterType.Contains)
                          .AutoBind(true)
                          .HighlightFirst(false)
                          .SyncValueAndText(true)
                          .MinLength(3)
                          .DataSource(source => source.Read(read => read.Action("GetCities", "UIComponent", new { addAll = true }).Type(HttpVerbs.Get)).ServerFiltering(true)))
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>جنسیت</label>
                            @(Html.Kendo().DropDownListFor(x => x.Gender).HtmlAttributes(new { @class = "k-rtl ", style = " width:100%;", required = "required" })
                              .DataTextField("GenderTypeTitleFa")
                              .DataValueField("GenderTypeValue").Filter(FilterType.Contains)
                              .AutoBind(true)
                              .DataSource(source => source.Read(read => read.Action("GetGenderType", "UIComponent")).ServerFiltering(true)))
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>صنعت</label>
                            @(Html.Kendo().ComboBoxFor(x => x.Industry).HtmlAttributes(new { @class = "k-rtl form-control ", style = " width:100%;", required = "required" })
                              .DataTextField("TitleFa")
                              .DataValueField("Id").Filter(FilterType.Contains)
                              .AutoBind(true)
                              .DataSource(source => source.Read(read => read.Action("GetIndustries", "UIComponent")).ServerFiltering(true)))

                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group k-rtl">
                            <label>دسته شغلی</label>
                            @*@Html.Kendo().TextBoxFor(x => x.LastName).HtmlAttributes(new { required = "required", style = " width:100%;", @class = "form-control ui-wizard-content" })*@
                            @(Html.Kendo().ComboBoxFor(x => x.Category).HtmlAttributes(new { @class = "form-control k-rtl", style = " width:100%;", required = "required" })
                          .DataTextField("TitleFa")
                          .Filter(FilterType.Contains)
                          .DataValueField("Id")
                          .SyncValueAndText(true)
                          .AutoBind(true)
                          .DataSource(source => source.Read(read => read.Action("GetJobCategories", "UIComponent", new { addAll = false })).ServerFiltering(false)))

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>حداقل سابقه شغلی</label>
                            @*@Html.Kendo().TextBoxFor(x => x.LastName).HtmlAttributes(new { required = "required", style = " width:100%;", @class = "form-control ui-wizard-content" })*@
                            @(Html.Kendo().TextBoxFor(x => x.MinYearExperience).HtmlAttributes(new { type = "number", required = "required", style = " width:100%;", @class = "form-control " }))
                        </div>
                    </div>
                </div>



            </div>  

            
            

            <div class="panel-body k-rtl">
                @(Html.Kendo().ListView<JobPost>()
                      .Name("listView")
                      .TagName("div")
                      .ClientTemplateId("template")
                      .DataSource(dataSource =>
                      {
                          dataSource.Read(read => read.Action("GetJobPostWithFilter", "JobPost").Data("getFilter"));
                          dataSource.PageSize(21);
                      })
                      )
            </div>
        </div>


    </div>
</div>
<style type="text/css">
    .form-horizontal .form-group {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .form-group-material > .control-label {
        opacity: 1 !important;
        filter: alpha(opacity=0);
    }


    .dropdown-header {
        /*font-size: 1.2em;*/
        padding: 0px 0px;
        text-align: right;
    }

        .dropdown-header > span {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            text-align: right;
            display: inline-block;
            border-style: solid;
            border-width: 0 0 1px 1px;
            padding: .3em .6em;
            width: 150px;
        }

            .dropdown-header > span:first-child {
                width: 150px;
                border-left-width: 0;
            }
</style>


<script>
    function getFilter() {
        var data = $("#jobSearchFilter").serializeJSON({ checkboxUncheckedValue: "false" });
        $("#jobSearchFilter").KendoToJson(data);
        return {model:data}
    }
    $(document).ready(function () {

        $(".k-textbox ").removeClass("k-textbox");
        //$("#ajax-next").click(function() {
        //    $(".error").addClass("validation-error-label");
        //    $(".error").removeClass("error");


        //});
        //$("#ajax-back").click(function() {
        //    $(".error").addClass("validation-error-label");
        //    $(".error").removeClass("error");



        //});
    });
    $("#clear").click(function(){
        var forms = $(this).parents('form:first')[0].id;
        $('#'+forms).ClearAll();

    });
</script>