@Html.Partial("_RegisterLastVersionOfKendo")
@using Kendo.Mvc.UI
@using Pikad.Framework.Infra.Utility
@using IranMarketer.App.Component
@model IranMarketer.App.Component.Model.CloseNAVModel
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "محاسبه NAV";
}
<div>
    <div class="panel-heading">
        <h5 class="panel-title">محاسبه NAV</h5>

    </div>
    <div id="searchBox" class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title"></h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>

                </ul>
            </div>
        </div>

        <div class="panel-body">
            <form class="form-inline">
                <div class="form-group form-group-material">
                    <label>تاریخ</label>
                    @Html.Kendo().DatePicker().Value(Model.StartCloseNAVDate).Name("FromDate").HtmlAttributes(new { style = "width:250px", type = "text" }).Format("yyyy/MM/dd")
                    <span class="text-danger">*</span>
                </div>
                @*<div class="form-group form-group-material">
                    <label>تا تاریخ</label>
                    @Html.Kendo().DatePicker().Value(Model.EndCloseNAVDate).Name("ToDate").HtmlAttributes(new { style = "width:250px", type = "text" }).Format("yyyy/MM/dd")
                    <span class="text-danger">*</span>
                </div>*@
                <button type="button" id="save" class="btn btn-sm btn-primary">تایید محاسبه<i class="icon-arrow-left13 position-right"></i></button>
            </form>
        </div>
    </div>

    <div class="panel panel-body">
        <div class="table-responsive">
            <table class="table">
                @*<thead>
                <tr>
                    <th>#</th>
                    <th>مورد در صندوق</th>
                    <th>مقدار</th>
                   
                </tr>
                </thead>*@
                <tbody>
                <tr class="success">
                    <td>تاریخ آخرین محاسبه NAV</td>
                    <td>@Model.LastNAVDate</td>
                </tr>
                <tr>
                    <td>تعداد کل واحدها</td>
                    <td>@Model.TotalUnits.ToString("##,###")</td>
                   
                </tr>
                <tr>
                    <td>آخرین NAV ابطال</td>
                    <td>@Model.LastRedemptionNAV.ToString("##,###")</td>
                
                </tr>
                <tr>
                    <td>آخرین NAV صدور</td>
                    <td>@Model.LastSubscriptionNAV.ToString("##,###")</td>
                  
                </tr>
                <tr>
                    <td>آخرین NAV آماری</td>
                    <td>@Model.LastStaticalNAV.ToString("##,###")</td>
                </tr>
                <tr>
                    <td>تعداد درخواست های ابطال امروز</td>
                    <td>@Model.RedemptionVolume.ToString("##,###")</td>
                   
                </tr>
                <tr>
                    <td>ارزش واحدهای صادر شده امروز</td>
                    <td>@Model.SubscriptionValue.ToString("##,###")</td>
                </tr>
                <tr class="info">
                    <td>مانده حساب جاری کارگزاری</td>
                    <td>@Model.BrokerAccountRemain.ToString("##,###")</td>
                  
                </tr>
               
                </tbody>
            </table>
        </div>
    </div>
</div>
<style type="text/css">
    .form-horizontal .form-group {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .form-group-material > .control-label {
        opacity: 1 !important;
        filter: alpha(opacity=0);
    }


    .dropdown-header {
        /*font-size: 1.2em;*/
        padding: 0px 0px;
        text-align: right;
    }

    .dropdown-header > span {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: right;
        display: inline-block;
        border-style: solid;
        border-width: 0 0 1px 1px;
        padding: .3em .6em;
        width: 150px;
    }

    .dropdown-header > span:first-child {
        width: 150px;
        border-left-width: 0;
    }

    th a {
        font-size: 8px;
        text-align: center;
    }
</style>

<script>


    function onSelect(e) {

    }

    function onDataBound(e) {

    }

    function onFiltering() {

    }



    function formatNumber(value) {
        return kendo.toString(value, "n0");
    }

    function formatPercent(value) {
        return kendo.toString(value / 100, "p0");
    }

    function filterData() {

        var data = {

            FromDate: $("#FromDate").val(),
            ToDate: $("#ToDate").val()
        }

        return { model: data };
    }
    $("#save").click(function () {

        var notice = new PNotify({
            title: 'توجه',
            text: '<p>آیا انجام محاسبه تایید می شود؟</p>',
            hide: false,
            type: 'warning',
            confirm: {
                confirm: true,
                buttons: [
                    {
                        text: 'بله',
                        addClass: 'btn btn-sm btn-primary'
                    },
                    {
                        text: 'خیر',
                        addClass: 'btn btn-sm btn-link'
                    }
                ]
            },
            buttons: {
                closer: false,
                sticker: false
            },
            history: {
                history: false
            },
            addclass: 'stack-top-right',
            stack: stack_top_left
        });

        // On confirm
        notice.get().on('pnotify.confirm',
            function () {

                var model = {
                    "StartCloseNAVDate" : $('#FromDate').val()
                }

                $.ajax({
                    url: '@Url.Action("SaveCloseNAV", "NAV")',
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify(model),
                    contentType: "application/json; charset=utf-8",
                    401: function() {
                        var url = '@Url.Action("Login", "Account")';
                        window.location.href = url;
                    },
                    error: function (response) {
                        showNotification(response.Message, 'e');

                    },
                    success: function (response) {
                        if (response != null && response.BRuleCode == '1000') {
                            showNotification(response.Message, 's');
                            showNotification("درخواست بستن روز کاری و محاسبه NAV با موفیت صورت گرفت", 'cs');

                        } else {
                            showNotification(response.Message, 'e');

                        }
                    }
                });
            });

        // On cancel
        notice.get().on('pnotify.cancel',
            function () {

            });
    });

</script>